@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Раздел вкладок
   ========================== */

.top-cards-header {
  @include grid-container(grid, auto 1fr auto, auto, 45px, start, center);
  width: 100%;

  .top-cards-h2 {
    align-self: center;
  }

  .top-cards-top-container {
    @include flex-container(flex, row, nowrap, unset, flex-start, 25px);
  }

  @media (min-width: 481px) and (max-width: 1024px) {
    @include grid-container(
      grid,
      repeat(2, 1fr),
      repeat(2, auto),
      16px,
      start,
      start
    );

    .top-cards-h2 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .top-cards-top-container {
      @include flex-container(
        flex,
        row,
        nowrap,
        space-between,
        flex-start,
        20px
      );

      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    a {
      @include flex-container(flex, row, nowrap, flex-end, center, 0);

      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}

/* ==========================
   Конец раздела вкладок
   ========================== */
