@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Стили для хедера
   ========================== */
.header {
  background: var(--White, #fff);
  user-select: none;
}

/* Десктоп (ПК, ширина >= 1024px) */
@media (min-width: 1024px) {
  .container-header {
    @include grid-container(grid, auto 1fr auto, auto, 0, start, center);
    padding: 15px 70px 30px 70px;

    /* Лого */
    .logo-header {
      @include flex-container(flex, row, nowrap, flex-start, center, 25px);

      svg {
        width: 117px;
        height: 90px;

        path {
          fill: var(--Main-color, #593dff);
        }
      }

      .logo-box {
        display: flex;
        flex-direction: column;

        .logo-span-main {
          color: var(--Main-color, #593dff);
          font-family: Buenard, serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.64px;
        }

        .logo-span-sub {
          color: var(--Content-color, #14142d);
          font-family: Alexandria;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.08px;
          text-transform: capitalize;
        }
      }
    }

    /* Навигация */
    .nav {
      @include flex-center(row, center, center);

      & .ul {
        @include flex-container(flex, row, nowrap, center, center, 45px);

        .nav-list {
          font-size: map.get(vars.$h5, size);
          font-weight: map.get(vars.$h5, weight);
          line-height: map.get(vars.$h5, line-height);
          letter-spacing: map.get(vars.$h5, letter-spacing);
          position: relative;
        }

        .nav-link {
          &.active,
          &:hover {
            color: var(--Main-color); /* Цвет активной ссылки */
            transition: color 0.3s ease; /* плавная анимация */
          }
        }

        /* Создаем подчеркивание с помощью ::after */
        .nav-link::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0; /* внизу ссылки */
          width: 0; /* изначально ширина 0 */
          height: 5px; /* толщина линии */
          background-color: var(--Main-color, #593dff); /* цвет подчеркивания */
          border-radius: 3px; /* скругление концов */
          transition: width 0.3s ease; /* плавная анимация */
        }

        .nav-link.active::after {
          width: 24px;
        }

        /* При наведении увеличиваем ширину до 100% */
        .nav-link:hover::after,
        .nav-link.active:hover::after {
          width: 100%;
        }
      }
    }

    /* Правая часть */
    .right-actions {
      @include flex-container(flex, row, nowrap, flex-end, center, 1rem);

      /* Идентификатор поиска */
      .search-id {
        position: relative;
        display: inline-flex;
        padding-right: 10px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        font-size: map.get(vars.$h5, size);
        font-weight: map.get(vars.$h5, weight);
        line-height: map.get(vars.$h5, line-height);
        letter-spacing: map.get(vars.$h5, letter-spacing);

        .search-visually-hidden {
          opacity: 0.4;
          transition: opacity 0.2s ease;

          &.hidden {
            opacity: 0;
            pointer-events: none;
          }
        }

        .search-input {
          position: absolute;
          right: 0;
          width: 140px;
          height: 38px;
          padding: 0 30px 0 10px;
          border: none;
          border-radius: var(--border-radius);
          background: var(--White, #fff);
          box-shadow: 0 4px 45px 0 rgba(var(--Main-color-rgb), 0.25);

          font-size: map.get(vars.$h6, size);
          font-weight: map.get(vars.$h6, weight);
          line-height: map.get(vars.$h6, line-height);
          letter-spacing: map.get(vars.$h6, letter-spacing);

          color: var(--Main-color, #593dff);
          box-sizing: border-box;
          transform-origin: right;
          transition: transform 0.4s ease-out, opacity 0.3s ease-out; // Увеличим время и сделаем затухание
          opacity: 0; // Изначально прозрачен
          pointer-events: none; // Блокируем ввод до активации
          transform: scaleX(
            0.16
          ); // Начальная ширина ~24px (150px * 0.16 ≈ 24px)

          .search-icon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            z-index: 1;
          }

          &.active {
            transform: scaleX(1); // Расширяется до полной ширины
            opacity: 1; // Появляется
            pointer-events: auto; // Включаем ввод
          }

          &.closing {
            transform: scaleX(0.16); // Возвращается к ширине иконки
            opacity: 0;
            pointer-events: none;
          }

          &:focus {
            outline: none;
          }
        }

        svg {
          width: 24px;
          height: 24px;

          z-index: 9;

          path {
            stroke: var(--Main-color, #593dff);
          }
        }
      }

      /* Языковой переключатель */
      .lang-select {
        position: relative;
        display: inline-block;

        .lang-selected-value,
        .lang-options {
          font-size: map.get(vars.$h5, size);
          font-weight: map.get(vars.$h5, weight);
          line-height: map.get(vars.$h5, line-height);
          letter-spacing: map.get(vars.$h5, letter-spacing);
        }

        .lang-select-header {
          @include flex-center(row, center, center);

          width: 64px;
          gap: 6px;
          background: var(--White, #fff);
          border: none;
          cursor: pointer;
          position: relative;
          z-index: 101; // Делаем заголовок выше, чем options
          outline: none;

          &[aria-expanded="true"] {
            border-radius: 15px;
          }

          &:hover {
            color: var(--Main-color, #593dff);

            svg {
              path {
                fill: var(--Main-color, #593dff);
              }
            }
          }
        }

        .lang-options {
          @include flex-center(row, center, center);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding: 0 5px 14px 5px;
          margin: 0;
          border-radius: 15px;
          box-shadow: 0 4px 45px 0 rgba(var(--Main-color-rgb), 0.25);
          display: none;
          z-index: 100;

          overflow-y: visible;
          width: 100%;

          &[style*="display: block"] {
            display: block;
          }

          li {
            display: flex;
            cursor: pointer;
            padding: 0 19px 0 5px;

            &:hover,
            &.selected {
              color: var(--Main-color, #593dff);
              border-radius: 15px;
            }

            &.selected {
              background-color: rgba(var(--Main-color-rgb), 0.05);
            }
          }
        }
      }

      /* Бургер-меню */
      .menu-icon {
        position: relative;

        .menu-toggle {
          padding: 10px 7px;
          width: 46px;
          height: 46px;

          .menu-line {
            transition: all 0.3s ease;

            &.menu-line-top {
              fill: var(--Main-color, #593dff);
            }

            &.menu-line-middle,
            &.menu-line-bottom {
              fill: var(--Content-color, #14142d);
            }
          }

          &:hover {
            .menu-line-top {
              transform-origin: right;
              transform: scaleX(1.3); // растягиваем верхнюю линию при наведении
            }
          }

          &.active {
            .menu-line-top {
              opacity: 0; // Верхняя линия исчезает
            }

            .menu-line-middle {
              transform: rotate(45deg) translate(3px, -14px); // Крестик — верхняя часть
            }

            .menu-line-bottom {
              transform: rotate(-45deg) translate(-15px, -5px); // Крестик — нижняя часть
            }

            &:hover {
              .menu-line {
                fill: var(--Main-color, #593dff);
              }
            }
          }
        }
      }
    }
  }
}

/* Планшет (ширина от 480px до 1023px) */
@media (min-width: 480px) and (max-width: 1023px) {
  .container-header {
    @include grid-container(
      grid,
      repeat(2, 1fr),
      repeat(2, auto),
      1rem,
      start,
      start
    );
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-start, center, 0.5rem);
  }

  nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    @include flex-center(row, center, center, 1rem);
  }

  nav ul {
    @include flex-container(flex, row, nowrap, center, center, 1rem);
    list-style: none;
  }

  .right-actions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-end, center, 1rem);
  }
}

/* Мобильный (ширина <= 479px) */
@media (max-width: 479px) {
  .container-header {
    @include grid-container(grid, repeat(2, 1fr), auto, 1rem, start, center);
  }

  .logo {
    grid-column: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-start, center, 0.5rem);
  }

  nav {
    display: none; /* Навигация скрыта */
  }

  .right-actions {
    grid-column: 2 / 3;
    @include flex-container(flex, row, nowrap, flex-end, center, 1rem);
  }
}

/* ==========================
   Конец хедера
   ========================== */
