@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* Стили для container-header */
.container-header {
  padding: 1rem;
  background: linear-gradient(
    90deg,
    #f8f9fa,
    #e9ecef
  ); /* Легкий градиентный фон */
}

/* Десктоп (ПК, ширина >= 1024px) */
@media (min-width: 1024px) {
  .container-header {
    @include grid-container(grid, auto 1fr auto, auto, 1rem, start, center);
  }

  nav {
    @include flex-center(row, center, center, 1.5rem);
  }

  nav ul {
    @include flex-container(flex, row, nowrap, center, center, 1.5rem);
    list-style: none;
  }

  .logo {
    @include flex-container(flex, row, nowrap, flex-start, center, 0.5rem);
  }

  .right-actions {
    @include flex-container(flex, row, nowrap, flex-end, center, 1rem);
  }
}

/* Планшет (ширина от 480px до 1023px) */
@media (min-width: 480px) and (max-width: 1023px) {
  .container-header {
    @include grid-container(
      grid,
      repeat(2, 1fr),
      repeat(2, auto),
      1rem,
      start,
      start
    );
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-start, center, 0.5rem);
  }

  nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    @include flex-center(row, center, center, 1rem);
  }

  nav ul {
    @include flex-container(flex, row, nowrap, center, center, 1rem);
    list-style: none;
  }

  .right-actions {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-end, center, 1rem);
  }
}

/* Мобильный (ширина <= 479px) */
@media (max-width: 479px) {
  .container-header {
    @include grid-container(grid, repeat(2, 1fr), auto, 1rem, start, center);
  }

  .logo {
    grid-column: 1 / 2;
    @include flex-container(flex, row, nowrap, flex-start, center, 0.5rem);
  }

  nav {
    display: none; /* Навигация скрыта */
  }

  .right-actions {
    grid-column: 2 / 3;
    @include flex-container(flex, row, nowrap, flex-end, center, 1rem);
  }
}

/* Дополнительные стили */
.logo img {
  max-width: 50px; /* Размер логотипа */
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-link.active {
  color: var(--Main-color); /* Цвет активной ссылки */
}
/* Основные цвета */
.search-id,
.language,
.menu-icon {
  cursor: pointer;
}

.add-item-btn {
  @include button-base(
    10px 20px,
    var(--border-radius),
    map.get(vars.$h5, size),
    background-color 0.3s ease
  );
  background-color: var(--primary-color);
  color: var(--White, #fff);
}
