/* Стили для хедера */
@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;

.header {
  background-color: vars.$primary-color;
  padding: 1rem;
  nav ul {
    @include flex-center();
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    a {
      color: white;
      text-decoration: none;
      font-size: vars.$font-size-base;
    }
  }
}
