:root {
    --color-background: #000;
    --color-foreground: #fff;
    --color-brand: #f0f;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 20px;
    font-family: sans-serif;
}

main {
    margin: auto;
    max-width: 600px;
}

a {
    color: var(--color-brand);
}

.nav__logo {
    color: var(--color-foreground);
    text-decoration: none;
}