/* ==========================
   ROOT VARIABLES / COLORS
   ========================== */
:root {
  /* Параметры ширины */
  --paragraf-with: 1325px;

  /* Основные цвета */
  --background: #fff;
  --White: #fff;
  --White-rgb: 255, 255, 255;

  /* Тени, бордюры и т.п. */
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 35px;

  /* Специфичные цвета проекта */
  --Main-color: #593dff;
  // --Main-color-rgb: rgb(89, 61, 255);
  --Main-color-rgb: 89, 61, 255;
  --Main-color-hover: #2b10c9;
  --Content-color: #14142d;
  // --Content-color-rgb: rgb(20, 20, 45);
  --Content-color-rgb: 20, 20, 45;
  --Attracting-attention-color: #e722aa;
  // --Attracting-attention-color: rgb(231, 34, 170);
  --Attracting-attention-color-rgb: 231, 34, 170;
  --Adittional-color: #10ae27;
}
