/* Главный SCSS файл */
@use "_variables" as vars;
@use "_root" as root;
@use "_mixins" as *;
@use "sass:color";

@use "layouts/normalize.css";
@use "layouts/fonts";
@use "layouts/base";

@use "../../_includes/components/buttons/btn";
@use "../../_includes/layouts/_header/header";
@use "../../_includes/layouts/_footer/footer";
