/* Главный SCSS файл */
@use "_variables" as vars;
@use "_root" as root;
@use "_mixins" as *;
@use "sass:color";

@use "layouts/normalize.css";
@use "layouts/fonts";
@use "layouts/base";

@use "../../_includes/components/buttons/btn";
@use "../../_includes/layouts/_header/header";
@use "../../_includes/layouts/_footer/footer";
@use "../../_includes/layouts/Home/first-screen";
@use "../../_includes/components/form/search-form";
@use "../../_includes/layouts/Home/key-features";
@use "../../_includes/components/key-features-blocks/key-features-block";
@use "../../_includes/layouts/top-cards/top-cards";
@use "../../_includes/components/tabs/tabs";
@use "../../_includes/components/_property-card/property-card";
@use "../../_includes/layouts/ads";
@use "../../_includes/layouts/reviews";
@use "../../_includes/components/cards/review-cards/review-cards";
@use "../../_includes/layouts/Home/questions";
