@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Стили для кнопок
   ========================== */
.btn {
  @include button-base(
    5px 30px,
    var(--border-radius),
    map.get(vars.$h5, size),
    background-color 0.3s ease
  );

  @include responsive-typography(vars.$h5, vars.$h5-tablet, vars.$h5-mobile);

  color: var(--Content-color, #14142d);

  @include flex-center(row, center, center);

  @media (min-width: 481px) and (max-width: 1024px) {
    @include responsive-typography(vars.$h6, vars.$h6-tablet, vars.$h6-mobile);

    padding: 9px 36px;
  }

  /* Базовый стиль */
  &.btn-primary {
    color: var(--White, #fff);

    background-color: var(--Main-color, #593dff);

    &:hover {
      background-color: var(--Main-color-hover, #2b10c9);
    }
  }

  /* Кнопки добавить */
  &.btn-book {
    @include flex-center(row, center, center);

    background-color: var(--White, #fff);
    color: var(--Main-color, #593dff);

    &:hover {
      background-color: rgba(var(--White-rgb), 0.65);
    }
  }

  /* Кнопки вкладки */
  &.btn-tabs {
    color: var(--Content-color, #14142d);
    background-color: var(--White, #fff);
    box-shadow: 0 4px 45px 0 rgba(89, 61, 255, 0.25);
    padding: 12px 25px;

    &:hover,
    &.active {
      color: var(--White, #fff);

      background-color: var(--Main-color, #593dff);
    }
  }

  /* Активно */
  &.btn-active {
    background-color: var(--Content-color, #14142d);
  }

  /* Не активно */
  &.btn-not-active {
    background-color: rgba(var(--Content-color-rgb), 0.4);
    color: rgba(var(--White-rgb), 0.75);
  }
}
/* ==========================
   Конец стилей для кнопок
   ========================== */
