/* Стили для кнопок */
@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;

.btn {
  @include button-base(12px 24px, 8px, 16px, color 0.3s ease);

  &.btn-primary {
    background-color: var(--primary-color);
    color: var(--White, #fff);
  }

  &.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--White, #fff);
  }
}
