{% macro li(href, title, activePage) %}
  <li class="nav-list">
    <a href="{{ href }}" class="nav-link {% if href == activePage %}active{% endif %}">
      {{ title }}
    </a>
  </li>
{% endmacro %}


<nav class="nav">
  <ul class="ul">
    {{ li("/home", "Home", activePage) }}
    {{ li("/about", "About Us", activePage) }}
    {{ li("/exclusives", "Exclusives", activePage) }}
    {{ li("/real-estate", "Real Estate in the Carpathians", activePage) }}
    {{ li("/blog", "Blog", activePage) }}
    {{ li("/contact", "Contact", activePage) }}
  </ul>
</nav>
