<div class="search-id">
    <span class="search-visually-hidden">ID</span>
    <input type="text" 
       class="search-input" 
       id="search-input" 
       name="search-id" 
       placeholder="12345678"
       inputmode="numeric"
       pattern="[0-9]*"
       maxlength="8"
       autocomplete="off">
    {% include "components/icon/search-svg.njk" %}
</div>