<section class="first-screen first-screen--add-item">
  <div class="container container-first-screen bg-realtor center center">
    <div class="first-screen-header">
      <h1 class="global-h">
        Add
        <span class="global-h-color">Real Estate</span>
      </h1>
      <p>
        A welcoming word about the fact that in this block you can place your advert for the sale or rent of real estate. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
       <div class="terms-adding-adds-container">
        <span>Adding advertisements you automatically agree with <a href="#">Terms Adding Adds</a></span>
        </div>
    </div>
    <div class="first-screen-image added-item">
      <img src="/assets/images/added-item/main-image.png"/>
    </div>
  </div>
</section>