/* Стили для обзоров */
@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Карточка отзывов
   ========================== */
.review-card {
  @include flex-container(flex, column, nowrap, unset, flex-start, 20px);

  width: 415px;
  height: 450px;

  padding: 15px 30px 30px 30px;

  border-radius: 35px;
  background: #fff;
  box-shadow: -25px 20px 88px 0 rgba(var(--Main-color-rgb), 0.25);

  @media (min-width: 481px) and (max-width: 1024px) {
    width: 228px;
    height: 389px;

    padding: 0px 30px 35px 30px;
    gap: 15px;
  }

  @media (max-width: 480px) {
    padding: 15px 20px 25px 15px;

    width: 280px;
    height: 214px;
  }

  .review-card__header {
    position: relative;
    @include flex-container(flex, row, nowrap, flex-end, center, 0);
    width: 100%;

    @media (min-width: 481px) and (max-width: 1024px) {
      justify-content: flex-start;
      padding-top: 58px;
    }

    .avatar-wrapper {
      position: absolute;
      width: 102px;
      height: 102px;
      border-radius: 50%;
      overflow: hidden;
      background: var(--Main-color, #593dff);
      display: flex;
      justify-content: center;
      align-items: flex-end;

      top: -73px;
      left: 20px;
      z-index: 1;

      @media (min-width: 481px) and (max-width: 1024px) {
        width: 82px;
        height: 82px;
        top: -45px;
        left: 0px;
      }

      @media (max-width: 480px) {
        top: -52px;
        left: 10px;

        width: 72px;
        height: 72px;
      }

      .avatar {
        width: 120px;
        height: 120px;
        object-fit: cover;

        @media (min-width: 481px) and (max-width: 1024px) {
          width: 96.471px;
          height: 96.471px;
        }

        @media (max-width: 480px) {
          width: 96.471px;
          height: 96.471px;
        }
      }
    }

    // задний фон аватара копия
    .avatar-copy {
      position: absolute;

      width: 120px;
      height: 120px;
      top: -91px;
      left: 11px;

      @media (min-width: 481px) and (max-width: 1024px) {
        width: 96.471px;
        height: 96.471px;
        top: -59px;
        left: -7px;
      }

      @media (max-width: 480px) {
        top: -75px;
        left: -2px;
        width: 96.471px;
        height: 96.471px;
      }
    }

    // задний фон аватара перекрытие
    &::after {
      content: "";
      position: absolute;
      width: 120px;
      height: 30px;
      top: 0;
      left: 10px;
      background-color: var(--White, #fff);

      @media (min-width: 481px) and (max-width: 1024px) {
        left: 0;
        top: 10px;
      }

      @media (max-width: 480px) {
        left: 0px;
        width: 90px;
      }
    }

    //звезды
    .stars {
      display: flex;
      flex-direction: row-reverse; /* чтобы звезды шли справа налево */
      gap: 3px;

      .star {
        width: 28px;
        height: 28px;

        & svg path {
          fill: rgba(var(--Main-color-rgb), 0.45);
        }
        &.filled svg path {
          fill: var(--Main-color, #593dff);
        }

        @media (max-width: 480px) {
          &,
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  .review-card__body {
    @include flex-container(flex, column, nowrap, space-between, flex-start, 0);
    height: 100%;

    .review-card__body-top {
      @include flex-container(
        flex,
        column,
        nowrap,
        space-between,
        flex-start,
        0
      );

      @media (min-width: 481px) and (max-width: 1024px) {
        gap: 25px;
      }

      .persona-comment {
        display: -webkit-box;
        line-clamp: 7;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        @include responsive-typography(
          vars.$h5,
          vars.$h5-tablet,
          vars.$h5-mobile
        );

        @media (min-width: 481px) and (max-width: 1024px) {
          line-clamp: 6;
          -webkit-line-clamp: 6;
        }

        @media (max-width: 480px) {
          line-clamp: 4;
          -webkit-line-clamp: 4;
        }
      }

      .persona-name {
        @include responsive-typography(
          vars.$h3,
          vars.$h3-tablet,
          vars.$h3-mobile
        );
      }
    }

    .review-card__body-bottom {
      @include flex-container(flex, row, nowrap, space-between, center, 0);
      width: 100%;

      @media (min-width: 481px) and (max-width: 1024px) {
        gap: 25px;
        flex-direction: column;
        align-items: flex-start;
      }

      .review-date {
        color: rgba(var(--Content-color-rgb), 0.6);

        @include responsive-typography(
          vars.$h6,
          vars.$h6-tablet,
          vars.$h6-mobile
        );

        @media (min-width: 481px) and (max-width: 1024px) {
          order: 2;
        }
      }

      .review-read-more {
        cursor: pointer;
        color: var(--Main-color, #593dff);

        @include responsive-typography(
          vars.$h5,
          vars.$h5-tablet,
          vars.$h5-mobile
        );

        @media (min-width: 481px) and (max-width: 1024px) {
          order: 1;
        }
      }
    }
  }
}
