<section class="section-ads">
    <div class="container container-ads">
        <h1 class="h1-ads">Place for your advertisement</h1>
        <button type="button" class="btn btn-book btn-ads">Book Now</button>
    </div>
</section>