@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Агенция
   ========================== */
.agency {
  user-select: none;

  .company-achivements-body {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);
    padding: var(--padding-vert) 0;

    .container-company-achivements-body {
      @include flex-container(flex, row, nowrap, unset, flex-start, 25px);
      padding: 0 var(--padding-horiz);

      width: 100%;

      .container-achivements-left {
        img {
          width: 173px;
          height: 132.777px;
          max-width: unset;
        }
      }

      .container-achivements-right {
        max-width: 1580px;

        h5 {
          font-weight: 700;
        }

        p {
          @include responsive-typography(
            vars.$h5,
            vars.$h5-tablet,
            vars.$h5-mobile
          );
        }
      }
    }
  }
}
