<section class="agency">
    <div class="company-achivements-body">
        <div class="container container-company-achivements-body bg-realtor right bottom">
            <div class="container-achivements-left">
                <img src="/assets/images/logo/logo-old.png" alt="logo" />
            </div>
            <div class="container-achivements-right">
                <h5>Real Estate Agency "REALTOR"</h5>
                <p>
                    • information services in the direction of sale and rental, including daily,
                    exchange, purchase of residential real estate - apartments, mansions,
                    residential buildings, cottages <br />
                    • primary and secondary markets; commercial real estate <br />
                    • hypermarkets, shopping centers, shops, minimarkets, restaurants, cafes,
                    bars, offices, entertainment venues, wholesale bases, etc.; industrial real
                    estate <br />
                    • integral property complexes, ready-made businesses, separate workshops,
                    warehouses, agro-industrial complexes, etc.; land plots - for the
                    construction of hypermarkets from 1 to 10 hectares, shopping centers,
                    industrial enterprises, residential high-rise buildings, residential private
                    houses, cottages.
                </p>
                <br />
                <p>
                    Small and large investment projects. Expert assessment. Support in drawing
                    up a purchase and sale agreement, drawing up a loan, etc. The commission is
                    paid to us by property owners under exclusive agreements. For buyers, we
                    have options for every taste and price range - The large real estate
                    database has been maintained since 2006.
                </p>
                <br />
                <p>
                    We will help owners quickly and profitably sell their real estate, whether
                    it is an apartment or a mansion, commercial real estate or land. The agency
                    employs two certified realtors and one certified appraiser. The agency is a
                    member of the Ukrainian Association of Real Estate Professionals and the
                    National Association of Realtors (NAR).
                </p>
            </div>
        </div> 
    </div> 
</section> 