<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="same-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TODO">
    <meta name="keywords" content="TODO">
    <meta name="publisher" content="TODO">
    <meta name="robots" content="all">
    <meta name="creator" content="Jhony">
    <meta name="author" content="Jhony">
    <title>project</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 200 200%22><text font-size=%22160%22 y=%221em%22 x=%22-0.05em%22>🌕</text></svg>">
    </script>
</head>

<body>
    <style>{% filter cssMinifier %}{% include "css/site.css" %}{% endfilter %}</style>

    <header>
        <nav>
            <a class="nav__logo" href="/"><h1>🌕 project</h1></a>
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>Created by Jhony. Initially generated using <a href="https://github.com/winstonpuckett/generator-eleventy-reasonable">eleventy reasonable</a>.</p>
    </footer>

    {% set exampleJs %}{% include "js/example.js" %}{% endset %}
    <script>{{ exampleJs | jsMinifier | safe }}</script>
</body>

</html>
