/* Стили для обзоров */
@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Обззоры
   ========================== */
.reviews {
  user-select: none;

  background: var(--White, #fff);

  .container-reviews {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);
    // padding: 70px 40px;
    // padding-bottom: 0;

    .review-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: var(--padding);
      padding-bottom: 20px;

      .review-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;

        div {
          @include flex-container(flex, row, nowrap, unset, center, 45px);
        }
      }

      .review-header-bottom {
        @include flex-center(row, center, center);

        max-width: var(--paragraf-with, 1325px);
      }
    }
  }

  .review-body {
    background: rgba(var(--Main-color-rgb), 0.05);
    padding: 40px 0;
    // padding-bottom: 120px;

    .container-review-body {
      @include flex-container(flex, row, nowrap, space-between, flex-start, 0);

      .review-body-left-container {
        @include flex-container(flex, column, nowrap, unset, flex-start, 0);
        width: 485px;
        overflow: hidden;

        .left-container-box-p {
          padding: 400px 70px 0 70px;

          .box-p {
            color: var(--Content-color, #14142d);
            @include responsive-typography(
              vars.$h5,
              vars.$h5-tablet,
              vars.$h5-mobile
            );

            .box-p-color {
              color: var(--Main-color, #593dff);
            }

            .box-p-color,
            .box-p-bold {
              @include responsive-typography(
                vars.$h3,
                vars.$h3-tablet,
                vars.$h3-mobile
              );
            }
          }
        }

        .pagination {
          padding-left: var(--padding);
        }
      }
    }

    .review-cards {
      @include flex-container(flex, row, nowrap, unset, center, 40px);
      padding: 115px var(--padding) 25px 0;
    }
  }
}
