@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Партнеры
   ========================== */
.blogs {
  user-select: none;
  padding: var(--padding-vert) 0;
  background: var(--White, #fff);

  @media (min-width: 481px) and (max-width: 1024px) {
    padding: 20px 0;
  }

  @media (max-width: 480px) {
    padding: 20px 0;
  }

  .container-blogs {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);

    .blog-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: 0 var(--padding-horiz);
      padding-bottom: var(--padding-vert);

      @media (min-width: 481px) and (max-width: 1024px) {
        padding: 0 var(--padding-horiz-tablet) 25px var(--padding-horiz-tablet);
        gap: 32px;
      }

      @media (max-width: 480px) {
        padding: 0 var(--padding-horiz-mobile) 24px var(--padding-horiz-mobile);
        gap: 24px;
      }

      .blog-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;

        @media (max-width: 480px) {
          a {
            display: none;
          }
        }
      }

      .blog-header-bottom {
        max-width: var(--paragraf-with, 1325px);

        .read-more {
          color: var(--Main-color, #593dff);
          text-decoration-line: underline;

          &:hover {
            text-decoration: unset;
          }
        }
      }
    }
  }

  .blog-body {
    background: rgba(var(--Main-color-rgb), 0.05);

    .container-blog-cards {
      @include flex-container(
        flex,
        row,
        nowrap,
        space-between,
        flex-start,
        var(--gap)
      );
      padding: var(--padding-vert) var(--padding-horiz);

      @media (min-width: 481px) and (max-width: 1024px) {
        padding: 15px var(--padding-horiz-tablet) 35px
          var(--padding-horiz-tablet);
        gap: 20px;
      }

      @media (max-width: 480px) {
        padding: 12px var(--padding-horiz-mobile) 70px
          var(--padding-horiz-mobile);
        gap: 10px;
      }
    }
  }

  .blogs__bottom-btn {
    display: none;

    @media (max-width: 480px) {
      width: 100%;
      @include flex-center(row, center, center);
      margin-top: 24px;
    }
  }
}
