@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Партнеры
   ========================== */
.blogs {
  user-select: none;
  padding: var(--padding-vert) 0;
  background: var(--White, #fff);

  .container-blogs {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);

    .blog-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: 0 var(--padding-horiz);
      padding-bottom: var(--padding-vert);

      .blog-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;
      }

      .blog-header-bottom {
        p {
          max-width: var(--paragraf-with, 1325px);
        }
      }
    }
  }

  .blog-body {
    background: rgba(var(--Main-color-rgb), 0.05);

    .container-blog-cards {
      @include flex-container(
        flex,
        row,
        nowrap,
        space-between,
        flex-start,
        var(--gap)
      );
      padding: var(--padding-vert) var(--padding-horiz);
    }
  }
}
