@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Достижения
   ========================== */
.company-achivements {
  user-select: none;

  .container-company-achivements {
    @include flex-container(
      flex,
      column,
      nowrap,
      unset,
      flex-start,
      var(--gap)
    );
    padding: 80px 0 var(--padding-vert) 0;

    @media (max-width: 480px) {
      padding: 34px 0;
    }

    .company-achivements-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: 0 var(--padding-horiz);

      .company-achivements-header-bottom {
        max-width: var(--paragraf-with, 1325px);
      }

      @media (max-width: 480px) {
        padding: 0 var(--padding-horiz-mobile);
        gap: 24px;

        .company-achivements-header-p {
          .read-more {
            color: var(--Main-color, #593dff);
            text-decoration-line: underline;

            &:hover {
              text-decoration: unset;
            }
          }
        }
      }
    }

    .company-achivements-content {
      @include flex-container(flex, row, nowrap, space-between, flex-start, 0);
      width: 100%;

      .left-container-box {
        .left-container-box-img {
          width: 380px;
          height: 356px;

          @media (min-width: 481px) and (max-width: 1024px) {
            width: 179.326px;
            height: 168px;
          }
        }
      }

      .company-achivements-content-right-container {
        @include flex-container(flex, row, wrap, flex-end, center, 45px);

        padding: 0 var(--padding-horiz);

        @media (min-width: 481px) and (max-width: 1024px) {
          padding: 0 var(--padding-horiz-tablet);
          gap: 15px;
        }

        @media (max-width: 480px) {
          padding: 0 var(--padding-horiz-mobile);
          gap: 12px;
        }

        .right-container-box {
          @include flex-container(
            flex,
            column,
            nowrap,
            unset,
            flex-start,
            20px
          );

          width: 640px;
          height: 285px;
          padding: 15px 38px 30px 30px;

          border-radius: var(--border-radius);
          background-color: rgba(var(--Main-color-rgb), 0.1);
          transition: background-color 0.3s ease, color 0.3s ease;

          @media (min-width: 481px) and (max-width: 1024px) {
            width: 354px;
            height: 290px;
            padding: 15px 27px 35px 15px;

            &:nth-child(3),
            &:nth-child(4) {
              height: 214px;
            }
          }

          @media (max-width: 480px) {
            width: 100%;
            height: unset;
            padding: 12px 15px 28px 25px;
          }

          .right-container-box__top {
            color: var(--Main-color, #593dff);

            .container-box-value {
              @include responsive-typography(
                vars.$h1,
                vars.$h1-tablet,
                vars.$h1-mobile
              );
            }

            .container-box-text {
              @include responsive-typography(
                vars.$h3,
                vars.$h3-tablet,
                vars.$h3-mobile
              );
            }
          }

          .container-box-content {
            color: rgba(var(--Content-color-rgb), 0.4);

            @include responsive-typography(
              vars.$h5,
              vars.$h4-tablet,
              vars.$h5-mobile
            );
          }

          &:hover {
            background-color: var(--Main-color, #593dff);

            .right-container-box__top {
              color: var(--White, #fff);
            }

            .container-box-content {
              color: var(--White, #fff);
            }
          }
        }
      }
    }
  }
}
