<section class="company-achivements">
    <div class="container container-company-achivements">
        <div class="company-achivements-header">
          <div class="company-achivements-header-top">
              <h2 class="global-h">
                  Company 
                  <span class="global-h-color">Achievements</span>
              </h2>
          </div>
          <div class="company-achivements-header-bottom">
              <p>Our company doesn't just deal with real estate - we create 
                hassle-free, profitable and comfortable deals, changing the 
                market for the better. Over the years of work, we have achieved 
                significant results:</p>
          </div>
        </div>
        <div class="company-achivements-content">
            <div class="left-container-box">
                <div class="color-box"></div>
                <img class="left-container-box-img" 
                src="/assets/images/company-achivment-image.png" 
                alt="dialogs" />
            </div>
            <div class="company-achivements-content-right-container">
                <div class="right-container-box">
                    <div class="right-container-box__top">
                        <p class="container-box-value" data-target="19">0</p>
                        <p class="container-box-text">
                            years of work experience
                        </p>
                    </div>
                    <p class="container-box-content">
                        We have been working for you since 2006, offering only 
                        the best real estate solutions
                    </p>
                </div>
                <div class="right-container-box">
                    <div class="right-container-box__top">
                        <p class="container-box-value" data-target="10108">0</p>
                        <p class="container-box-text">
                            successful deals
                        </p>
                    </div>
                    <p class="container-box-content">
                        Successful deals are not just a number, but hundreds of 
                        satisfied clients who were able to find their perfect home, 
                        invest profitably or sell real estate without stress
                    </p>
                </div>
                <div class="right-container-box">
                    <div class="right-container-box__top">
                        <p class="container-box-value" data-target="2453">0</p>
                        <p class="container-box-text">
                            exclusive objects
                        </p>
                    </div>
                    <p class="container-box-content">
                        We offer real estate that you will not find in the public domain
                    </p>
                </div>
                <div class="right-container-box">
                    <div class="right-container-box__top">
                        <p class="container-box-value" data-target="80" data-is-percent="true">0%</p>
                        <p class="container-box-text">
                            new customers
                        </p>
                    </div>
                    <p class="container-box-content">
                        Most of our clients are those who came on the 
                        recommendation of friends, colleagues or partners
                    </p>
                </div>
            </div>
        </div> 
    </div>
</section>
