@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Первый экран
   ========================== */
.first-screen {
  user-select: none;

  .container-first-screen {
    @include flex-container(flex, column, nowrap, unset, flex-start, 80px);

    height: 760px;

    background-image: url(../images/home/main-image.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 941px 760px;

    padding: var(--padding-horiz);
    padding-bottom: 48px;

    .first-screen-header {
      @include flex-container(flex, column, wrap, unset, flex-start, 50px);
      max-width: 870px;

      p {
        color: var(--Content-color, #14142d);

        @include responsive-typography(
          vars.$h4,
          vars.$h4-tablet,
          vars.$h4-mobile
        );

        padding-right: 45px;
        align-items: center;
        align-self: stretch;
      }
    }
  }
}
/* ==========================
   Конец первого экрана
   ========================== */
