<section class="first-screen first-screen--catalog">
  <div class="container container-first-screen">
    <!--  Заголовок первого экрана каталога -->
    <div class="first-screen-header">
      <h1 class="global-h">
        Каталог недвижимости
      </h1>
      <p>
        Подберите квартиру, дом или апартаменты по нужным параметрам — мы собрали все варианты в одном месте.
      </p>
    </div>
    <!-- Форма поиска -->
    {% include "components/form/search-form.njk" %}
  </div>
</section>

