<!--  Первый экран -->
<section class="first-screen">
  <div class="container container-first-screen">
    <!--  Заголовок первого экрана -->
    <div class="first-screen-header">
      <h1><span>Realtor</span> - Your Reliable Partner 
      in the World of Real Estate</h1>
      <p>
        This is a team of professionals who help you find the perfect home or a
        profitable property for investment and business
      </p>
    </div>
    <!-- Форма поиска -->
    {% include "components/form/search-form.njk" %}
  <div>
</section>
 