@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Ключевые особенности
   ========================== */
.key-features {
  user-select: none;

  .container-key-features {
    @include flex-container(flex, column, nowrap, unset, flex-start, 50px);

    padding: 80px var(--padding-horiz);

    .key-features-header {
      @include flex-container(flex, column, wrap, unset, flex-start, 0);
    }

    .key-features-blocks-container {
      @include flex-container(flex, row, wrap, space-between, center, 0);
      align-self: stretch;

      p {
        color: var(--Content-color, #14142d);
        text-align: center;
        //   transition: color 0.3s ease; /* плавная анимация */

        @include responsive-typography(
          vars.$h4,
          vars.$h4-tablet,
          vars.$h4-mobile
        );

        display: -webkit-box;
        -webkit-line-clamp: 3; /* количество строк */
        line-clamp: 3; /* стандартное свойство для совместимости */
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

/* ==========================
   Конец ключевых особенностей
   ========================== */
