@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Партнеры
   ========================== */
.partners {
  user-select: none;

  .container-partners {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);
    padding: var(--padding-vert) 0;

    @media (max-width: 480px) {
      padding: 32px 0;
    }

    .partners-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: 50px var(--padding-horiz);
      padding-bottom: 120px;

      @media (min-width: 481px) {
        .partner__bottom-btn {
          display: none;
        }
      }

      @media (min-width: 481px) and (max-width: 1024px) {
        padding: 20px var(--padding-horiz-tablet);
      }

      @media (max-width: 480px) {
        padding: 0px var(--padding-horiz-mobile);
        gap: 24px;

        .partner__bottom-btn {
          width: 100%;
          @include flex-center(row, center, center);
        }
      }

      .partners-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;

        @media (max-width: 480px) {
          a {
            display: none;
          }
        }
      }

      .partners-header-bottom {
        @include flex-container(flex, row, nowrap, space-around, center, 0);
        width: 100%;

        @media (max-width: 480px) {
          flex-wrap: wrap;
          gap: 10px;
        }

        .partners__image {
          cursor: pointer;
          position: relative;
          width: 294px;
          height: 99px;
          object-fit: contain;
          display: block;
          background: var(--White, #fff);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.08);
          }

          @media (min-width: 481px) and (max-width: 1024px) {
            width: 210px;
            height: 78px;
          }

          @media (max-width: 480px) {
            width: 135px;
            height: 46px;
          }
        }
      }
    }
  }

  .partners-body {
    position: relative;
    @media (max-width: 480px) {
      padding-top: 32px;
    }

    // Фиолетовая полоса на заднем плане
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 210px; // высота полосы
      background: var(--Main-color, #593dff);

      @media (min-width: 481px) and (max-width: 1024px) {
        height: 110px;
      }

      @media (max-width: 480px) {
        height: 192px;
      }
    }

    .container-partners-body {
      @include flex-container(flex, row, nowrap, center, center, var(--gap));
      position: relative;
      padding: 0 var(--padding-horiz);
      height: 325px;

      @media (min-width: 481px) and (max-width: 1024px) {
        gap: 20px;
        padding: 0 var(--padding-horiz-tablet);
      }

      @media (max-width: 480px) {
        flex-wrap: wrap;
        padding: 0 var(--padding-horiz-mobile);

        gap: 50px 10px;
      }

      .partners-body-box {
        @include flex-container(flex, row, nowrap, center, flex-start, 0);

        background: var(--White, #fff);
        box-shadow: -25px 20px 88px 0 rgba(var(--Main-color-rgb), 0.25);

        border-radius: var(--border-radius);
        text-align: center;
        transition: transform 0.3s ease;
        position: relative;
        width: 415px;
        height: 247px;
        padding: 153px 30px 30px 30px;
        flex-shrink: 0;
        margin-top: 100px;

        @media (min-width: 481px) and (max-width: 1024px) {
          padding: 75px 15px 15px 15px;
          width: 228px;
          height: 142px;
          margin-top: 60px;
          border-radius: 15px;
        }

        @media (max-width: 480px) {
          width: 135px;
          height: 146px;
          padding: 61px 15px 24px 15px;
          margin-top: 0px;
          border-radius: 15px;
        }

        &:hover {
          transform: translateY(-5px);
        }

        .partners__image {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 313px;
          height: auto;
          object-fit: contain;

          @media (min-width: 481px) and (max-width: 1024px) {
            width: 173.635px;
          }

          @media (max-width: 480px) {
            width: 105px;
          }

          &.luxury {
            top: 12px;

            @media (min-width: 481px) and (max-width: 1024px) {
              top: 10px;
            }

            @media (max-width: 480px) {
              top: 14px;
            }
          }

          &.carpathians {
            top: 1px;

            @media (min-width: 481px) and (max-width: 1024px) {
              top: 4px;
            }

            @media (max-width: 480px) {
              top: 10px;
            }
          }

          &.exclusives {
            top: 8px;

            @media (max-width: 480px) {
              top: 13px;
            }
          }

          &.investment {
            top: -20px;

            @media (min-width: 481px) and (max-width: 1024px) {
              top: -7.5px;
            }

            @media (max-width: 480px) {
              top: 3px;
            }
          }
        }

        p {
          @include flex-center(row, center, center);
          gap: 5px;
          color: var(--Content-color, #14142d);
          @include responsive-typography(
            vars.$h3,
            vars.$h3-tablet,
            vars.$h3-mobile
          );

          path {
            fill: var(--Content-color, #14142d);
          }
        }
      }
    }
  }
}
