@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Партнеры
   ========================== */
.valued-customers {
  user-select: none;
  padding: var(--padding-vert) var(--padding-horiz);

  @media (min-width: 481px) and (max-width: 1024px) {
    padding: 20px var(--padding-horiz-tablet);
  }

  @media (max-width: 480px) {
    padding: 20px var(--padding-horiz-mobile);
  }

  .container-valued-customers {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);

    .valued-customers-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      // padding: 0 70px;

      @media (min-width: 481px) and (max-width: 1024px) {
        gap: 35px;
      }

      @media (max-width: 480px) {
        gap: 24px;
      }

      .valued-customers-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;

        @media (max-width: 480px) {
          a {
            display: none;
          }
        }
      }

      .valued-customers-header-p {
        max-width: var(--paragraf-with, 1325px);

        .read-more {
          color: var(--Main-color, #593dff);
          text-decoration-line: underline;

          &:hover {
            text-decoration: unset;
          }
        }
      }

      .valued-customers-header-bottom {
        @include flex-container(
          flex,
          row,
          nowrap,
          space-between,
          center,
          100px
        );
        width: 100%;

        @media (min-width: 481px) and (max-width: 1024px) {
          gap: 20px;
        }

        @media (max-width: 480px) {
          flex-wrap: wrap;
          gap: 10px;
        }

        .valued-customers__image {
          //   cursor: pointer;
          position: relative;
          width: 355px;
          height: 115px;
          object-fit: contain;
          display: block;
          background: var(--White, #fff);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.08);
          }

          @media (min-width: 481px) and (max-width: 1024px) {
            width: 228px;
            height: 74px;
          }

          @media (max-width: 480px) {
            width: 135px;
            height: 46px;
          }
        }
      }

      .valued-customers__bottom-btn {
        display: none;

        @media (max-width: 480px) {
          width: 100%;
          @include flex-center(row, center, center);
          margin-top: 14px;
        }
      }
    }
  }
}
