@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Партнеры
   ========================== */
.valued-customers {
  user-select: none;
  padding: 40px 80px;

  .container-valued-customers {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);

    .valued-customers-header {
      @include flex-container(flex, column, nowrap, unset, flex-start, 50px);
      width: 100%;
      padding: 70px 50px;
      padding-bottom: 120px;

      .valued-customers-header-top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;
      }

      p {
        max-width: 1325px;
      }

      .valued-customers-header-bottom {
        @include flex-container(
          flex,
          row,
          nowrap,
          space-between,
          center,
          100px
        );
        width: 100%;

        .valued-customers__image {
          //   cursor: pointer;
          position: relative;
          width: 355px;
          height: 115px;
          object-fit: contain;
          display: block;
          background: var(--White, #fff);
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }
}
