/* Базовые стили для макета */
@use "../variables" as vars;

html,
body {
  background: vars.$background;
  color: var(--Content-color, #14142d);
}
main {
  min-height: calc(100vh - 200px); /* Учитываем высоту хедера и футера */
}
