/* ==========================
    Base Styles
   ========================== */
@use "../variables" as vars;

html,
body {
  background: var(--background, #fff);
  color: var(--Content-color, #14142d);
}

main {
  min-height: calc(100vh - 200px); /* Учитываем высоту хедера и футера */
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.search-id > svg,
.language,
.menu-icon {
  cursor: pointer;
}
