/* ==========================
    Font Styles
   ========================== */
@use "_mixins" as *;
@use "_variables" as vars;
@use "sass:map";

/* ====== БАЗОВЫЙ ТЕКСТ ====== */
body {
  font-family: vars.$font-primary;
  @include responsive-typography(
    vars.$body,
    vars.$body-tablet,
    vars.$body-mobile
  );
}

/* ====== ССЫЛКИ ====== */
a {
  @include responsive-typography(vars.$h5, vars.$h5-tablet, vars.$h5-mobile);
}
/* ====== DESKTOP HEADINGS ====== */
h1 {
  @include responsive-typography(vars.$h1, vars.$h1-tablet, vars.$h1-mobile);
}
h2 {
  @include responsive-typography(vars.$h2, vars.$h2-tablet, vars.$h2-mobile);
}
h3 {
  @include responsive-typography(vars.$h3, vars.$h3-tablet, vars.$h3-mobile);
}
h4 {
  @include responsive-typography(vars.$h4, vars.$h4-tablet, vars.$h4-mobile);
}
h5 {
  @include responsive-typography(vars.$h5, vars.$h5-tablet, vars.$h5-mobile);
}
h6 {
  @include responsive-typography(vars.$h6, vars.$h6-tablet, vars.$h6-mobile);
}
