.valued-customers__image {
  transition: fill 0.3s ease;

  // Приват
  .privat-cls-1 {
    fill: var(--Main-color, #593dff);
  }
  .privat-cls-2 {
    fill: #3b2eb7;
  }

  // Райфайзен
  .raiff-cls-11 {
    fill: var(--Main-color, #593dff);
  }

  .raiff-cls-22 {
    fill: #ffffff;
  }
  .raiff-cls-33 {
    fill: #ffffff;
  }

  // УкрПочта
  .ukrpost-cls-1 {
    fill: var(--Main-color, #593dff);
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
  }
  .ukrpost-cls-2 {
    fill: #8d81fc;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
  }
  .ukrpost-cls-3 {
    fill: var(--Main-color, #593dff);
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
  }

  // Подорожник
  .podoroj-cls-1 {
    fill: #8d81fc;
  }

  .podoroj-cls-2 {
    fill: #3b2eb7;
  }

  .podoroj-cls-3 {
    fill: var(--Main-color, #593dff);
  }

  &:hover {
    transition: fill 0.3s ease;

    // Райфайзен
    .raiff-cls-11 {
      fill: #010101;
    }

    .raiff-cls-22 {
      fill: #fef100;
    }

    // Приват
    .privat-cls-1 {
      fill: #67a600;
    }
    .privat-cls-2 {
      fill: #231f20;
    }

    // УкрПочта
    .ukrpost-cls-1 {
      fill: #617171;
    }
    .ukrpost-cls-2 {
      fill: #fabc26;
    }
    .ukrpost-cls-3 {
      fill: #2c2e2c;
    }

    // Подорожник
    .podoroj-cls-1 {
      fill: #009e76;
    }

    .podoroj-cls-2 {
      fill: #bedfd5;
    }

    .podoroj-cls-3 {
      fill: #006c43;
    }
  }
}

.partners__image {
  transition: fill 0.3s ease;

  .doom-cls-1,
  .doom-cls-2,
  .doom-cls-3,
  .doom-cls-4,
  .doom-cls-5,
  .ibud-cls-1,
  .ibud-cls-2,
  .vox-cls-1,
  .misto-cls-1,
  .misto-cls-2 {
    fill: var(--Main-color, #593dff);
  }

  .doom-cls-2,
  .ibud-cls-2 {
    opacity: 0.6;
  }

  .doom-cls-7 {
    fill: #3b2eb7;
  }

  &:hover {
    transition: fill 0.3s ease;

    .misto-cls-1 {
      stroke: #226ce3;
      stroke-miterlimit: 10;
    }

    .ibud-cls-1,
    .ibud-cls-2 {
      fill: #6396e7;
      opacity: 1;
    }

    .misto-cls-1,
    .misto-cls-2 {
      fill: #226ce3;
    }

    .doom-cls-1,
    .doom-cls-7 {
      fill: #090b0c;
    }

    .doom-cls-2 {
      fill: #f69d25;
    }

    .doom-cls-3 {
      fill: #eb3d95;
    }

    .doom-cls-4 {
      fill: #262224;
    }

    .doom-cls-5 {
      fill: #838486;
    }

    .vox-cls-1 {
      fill: red;
    }
  }
}

.footer__logo-social {
  transition: fill 0.3s ease;

  .facebook-cls-1,
  .instagram-cls-1,
  .youtube-cls-1,
  .twitter-cls-1,
  .tiktok-cls-1 {
    fill: transparent;
  }
  .tiktok-cls-1 {
    stroke: transparent;
  }

  .facebook-cls-2,
  .youtube-cls-2,
  .instagram-cls-2,
  .instagram-cls-3,
  .instagram-cls-4,
  .twitter-cls-2,
  .tiktok-cls-2 {
    fill: #ffffff;
  }

  .logo-social-youtube:hover {
    transition: fill 0.3s ease;

    .youtube-cls-1 {
      fill: #ffffff;
    }

    .youtube-cls-2 {
      fill: #ff0000;
    }
  }

  .logo-social-facebook:hover {
    transition: fill 0.3s ease;

    .facebook-cls-1 {
      fill: #ffffff;
    }

    .facebook-cls-2 {
      fill: #1877f2;
    }
  }

  .logo-social-instagram {
    transition: all 0.3s ease;

    &:hover {
      .instagram-cls-1 {
        fill: white; // белый квадрат
      }

      .instagram-cls-2 {
        fill: #dc2cbb; // точка
      }

      .instagram-cls-3 {
        fill: #f74c95; // внутренний круг
      }

      .instagram-cls-4 {
        fill: url(#instagram-gradient); // градиентная обводка
      }
    }
  }

  .logo-social-twitter {
    transition: all 0.3s ease;

    &:hover {
      .twitter-cls-1 {
        fill: white;
        stroke: white;
      }

      .twitter-cls-2 {
        fill: black;
      }
    }
  }

  .logo-social-tiktok {
    transition: all 0.3s ease;

    &:hover {
      .tiktok-cls-1 {
        fill: white;
      }

      .tiktok-cls-2 {
        fill: #220303;
      }
    }
  }
}
