<div class="lang-select">
    <!-- Заголовок/кнопка -->
    <button class="lang-select-header" aria-haspopup="listbox" aria-expanded="false">
        <span class="lang-selected-value">EN</span>
        {% include "components/icon/small-arrow-svg.njk" %}
    </button>
    
    <!-- Выпадающий список -->
    <ul class="lang-options" role="listbox" tabindex="-1">
        <li role="presenoptiontation" class="lang-current-value">EN </li> <!-- Не кликабельный, дублирует selected-value -->
        <li role="option" data-value="uk">UK</li>
        <li role="option" data-value="en" class="selected">EN</li>
        <li role="option" data-value="de">DE</li>
    </ul>
</div>  