<div class="lang-select">
    <!-- Заголовок/кнопка -->
    <button class="lang-select-header" aria-haspopup="listbox" aria-expanded="false">
        <span class="lang-selected-value">EN</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
            <path d="M7.54014 0.5H1.71499C0.785192 0.5 0.358682 1.65797 1.06634 2.26108L4.17309 4.90888C4.56611 5.24385 5.14955 5.22446 5.51948 4.86414L8.23788 2.21635C8.88064 1.59029 8.4374 0.5 7.54014 0.5Z" fill="#14142D"/>
        </svg>
    </button>
    
    <!-- Выпадающий список -->
    <ul class="lang-options" role="listbox" tabindex="-1">
        <li role="presenoptiontation" class="lang-current-value">EN </li> <!-- Не кликабельный, дублирует selected-value -->
        <li role="option" data-value="uk">UK</li>
        <li role="option" data-value="en" class="selected">EN</li>
        <li role="option" data-value="de">DE</li>
    </ul>
</div>  