/* Стили для карточки товара */
@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;

.properties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.property-card {
  background: var(--White, #fff);
  border-radius: var(--border-radius);
  box-shadow: var(--card-shadow);
  overflow: hidden; /* Для обрезки углов изображения */
}

.property-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.property-card__content {
  padding: 1rem;
  text-align: center;
}

.property-card__title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.property-card__description {
  margin: 0.5rem 0;
  color: var(--Content-color);
}

.property-card__price {
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  margin: 0.5rem 0;
}
