@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Секция ТОП
   ========================== */
.top-section {
  user-select: none;

  .container-top-cards {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);
    padding: 70px;

    &.container-top-selling {
      padding: 0 70px;
    }

    &.container-top-rentals {
      padding-bottom: 0;
    }

    .top-cards-container__top {
      @include flex-container(flex, column, nowrap, unset, flex-start, 0);
      width: 100%;

      p {
        max-width: var(--paragraf-with, 1325px);
        padding: 40px 0;

        color: var(--Content-color, #14142d);

        font-size: map.get(vars.$h4, size);
        font-weight: map.get(vars.$h4, weight);
        line-height: map.get(vars.$h4, line-height);
        letter-spacing: map.get(vars.$h4, letter-spacing);

        @media (min-width: 481px) and (max-width: 1024px) {
          font-size: map.get(vars.$h4-tablet, size);
          font-weight: map.get(vars.$h4-tablet, weight);
          line-height: map.get(vars.$h4-tablet, line-height);
          letter-spacing: map.get(vars.$h4-tablet, letter-spacing);
        }

        @media (max-width: 480px) {
          font-size: map.get(vars.$h4-mobile, size);
          font-weight: map.get(vars.$h4-mobile, weight);
          line-height: map.get(vars.$h4-mobile, line-height);
          letter-spacing: map.get(vars.$h4-mobile, letter-spacing);
        }
      }
    }

    @media (min-width: 481px) and (max-width: 1024px) {
      padding: 50px 25px;
    }
  }

  .top-cards-container__bottom {
    @include flex-container(flex, row, nowrap, center, center, 40px);
    width: 100%;

    &.top-selling-bottom-container {
      padding: 40px 70px 80px 70px;
    }
    &.top-rentals-bottom-container {
      padding: 0 70px 70px 70px;
    }
  }
  .top-selling__bottom {
    background: rgba(var(--Main-color-rgb), 0.05);
  }
}
/* ==========================
   Конец секции ТОП
   ========================== */
