@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Секция ТОП
   ========================== */
.top-section {
  user-select: none;

  .container-top-cards {
    @include flex-container(flex, column, nowrap, unset, flex-start, 0);
    padding: var(--padding-horiz);

    &.container-top-selling {
      padding: 0 var(--padding-horiz);
    }

    &.container-top-rentals {
      padding-bottom: 0;
    }

    &.container-top-selling,
    &.container-top-rentals {
      @media (min-width: 481px) and (max-width: 1024px) {
        padding: var(--padding-horiz-tablet);
      }
      @media (max-width: 480px) {
        padding: var(--padding-horiz-mobile);
      }
    }

    .top-cards-container__top {
      @include flex-container(flex, column, nowrap, unset, flex-start, 0);
      width: 100%;

      .text-truncated {
        max-width: var(--paragraf-with, 1325px);
        padding: var(--padding-vert) 0;

        color: var(--Content-color, #14142d);

        @include responsive-typography(
          vars.$h4,
          vars.$h4-tablet,
          vars.$h4-mobile
        );

        @media (min-width: 481px) {
          .top-read-more {
            display: none;
          }
        }

        @media (max-width: 480px) {
          padding: 12px 0;
        }

        &.expanded {
          .read-more {
            display: none;
          }
        }
      }

      .read-more {
        color: var(--Main-color, #593dff);
        cursor: pointer;
        text-decoration-line: underline;

        &:hover {
          text-decoration: unset;
        }
      }
    }
  }

  .top-cards-container__bottom {
    @include flex-container(flex, row, nowrap, center, center, var(--gap));
    // width: 100%;

    &.top-selling-bottom-container {
      padding: var(--padding-vert) var(--padding-horiz) 80px
        var(--padding-horiz);

      @media (min-width: 481px) and (max-width: 1024px) {
        padding: var(--padding-horiz-tablet);
      }
      @media (max-width: 480px) {
        padding: var(--padding-horiz-mobile);
      }
    }
    &.top-rentals-bottom-container {
      padding: 0 var(--padding-horiz) var(--padding-horiz) var(--padding-horiz);

      @media (min-width: 481px) and (max-width: 1024px) {
        padding: var(--padding-horiz-tablet);
      }
      @media (max-width: 480px) {
        padding: var(--padding-horiz-mobile);
      }
    }
  }

  .top-selling__bottom {
    background: rgba(var(--Main-color-rgb), 0.05);
  }

  .top__bottom-btn {
    @media (min-width: 481px) {
      display: none;
    }
    @media (max-width: 480px) {
      @include flex-container(flex, row, nowrap, center, center, var(--gap));
      width: 100%;
      padding-top: 25px;
    }
  }
}

/* ==========================
   Конец секции ТОП
   ========================== */
