<div class="contact-fab-list-container">
    <div class="contact-fab-list contact-fab-list-top callback">
         {% include "components/icon/recall-contacts-svg.njk" %}
         <span>Request a Callback</span>
    </div>
    <div class="contact-fab-list contact-fab-list-bottom writeUs">
         {% include "components/icon/mail-contacts-svg.njk" %}
         <span>Write to Us</span>
    </div>
</div>
