@use "../../assets/scss/variables" as vars;
@use "../../assets/scss/mixins" as *;
@use "sass:map";

.contact-fab-list-container {
  user-select: none;
  position: fixed;

  right: 85px;
  top: 767px;

  border-radius: var(--border-radius);
  background: var(--White);

  z-index: 10;
  @include responsive-typography(vars.$h6, vars.$h4-tablet, vars.$h5-mobile);

  transform: translateX(150%); //надо потом поменять процент
  transition: transform 0.3s ease-in-out;

  box-shadow: 0px 10px 48px 0px rgba(var(--Main-color-rgb), 0.25);

  .contact-fab-list {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;

    svg {
      path {
        fill: black;
      }
    }

    &:hover {
      background: rgba(var(--Main-color-rgb), 0.1);

      color: var(--Main-color);
      svg {
        path {
          fill: var(--Main-color);
        }
      }
    }

    &:active {
      background: rgba(var(--Main-color-rgb), 1);

      color: var(--White);
      svg {
        path {
          fill: var(--White);
        }
      }
    }
  }

  .contact-fab-list-top {
    width: 259px;
    height: 64px;

    padding: 24px 0px 12px 24px;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  }

  .contact-fab-list-bottom {
    width: 259px;
    height: 64px;
    padding: 12px 0px 24px 24px;

    border-radius: 0px 0px var(--border-radius) var(--border-radius);
  }

  &::before {
    content: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%205.5%2011.5%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20fill%3D%22none%22%3E%0A%3Cpath%20id%3D%22Vector%206%22%20d%3D%22M5.5%205.5L0%2011.5L0%200L5.5%205.5Z%22%20fill%3D%22rgb%28238%2C236%2C255%29%22%20fill-rule%3D%22evenodd%22%20/%3E%0A%3C/svg%3E");
    display: block;
    width: 5.5px;
    height: 11.5px;
    position: absolute;
    top: 25px;
    right: -5px;
  }

  &.active {
    transform: translateX(0);
  }
}
