/* Стили для футера */
@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Футер
   ========================== */
.footer {
  user-select: none;

  background: rgba(var(--Content-color-rgb), 0.8);
  color: var(--White, #fff);

  @include responsive-typography(vars.$h5, vars.$h5-tablet, vars.$h5-mobile);

  @media (max-width: 480px) {
    @include responsive-typography(vars.$h6, vars.$h6-tablet, vars.$h6-mobile);
  }

  a {
    color: rgba(var(--White-rgb), 0.65);

    &:hover {
      color: var(--White, #fff);
    }
  }

  .container-footer {
    @include flex-container(flex, row, nowrap, unset, flex-start, 0);
    padding: 40px 70px 50px 70px;

    @media (min-width: 481px) and (max-width: 1024px) {
      padding: 30px 25px 40px 25px;
    }

    .footer__top {
      @include flex-container(
        flex,
        row,
        nowrap,
        space-between,
        flex-start,
        40px
      );
      width: 100%;

      @media (min-width: 481px) and (max-width: 1024px) {
        gap: 25px;
      }

      @media (max-width: 480px) {
        flex-direction: column;
      }

      .footer__row-container {
        @include flex-container(flex, column, nowrap, unset, flex-start, 35px);
        width: 100%;

        .footer__logo {
          @include flex-container(flex, row, nowrap, unset, center, 30px);

          svg {
            width: 110.636px;
            height: 87.063px;

            path {
              fill: var(--White, #fff);
            }
          }

          .logo-box {
            @include flex-container(flex, column, nowrap, center, center, 0);

            .logo-span-main {
              font-family: Buenard;
              font-size: 27px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.54px;
            }
            .logo-span-sub {
              font-family: Alexandria;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: 0.96px;
              text-transform: capitalize;
            }
          }
        }

        .footer__logo-address {
          @include flex-container(flex, column, nowrap, unset, flex-start, 5px);

          user-select: text;

          br {
            display: none;

            @media (min-width: 481px) and (max-width: 1024px) {
              display: block;
            }
          }
        }

        .footer__logo-list {
          @include flex-container(flex, column, nowrap, unset, flex-start, 5px);
        }

        .footer__logo-social {
          @include flex-container(flex, row, nowrap, unset, flex-start, 25px);

          svg {
            &:hover {
              path {
                fill: var(--Content-color, #14142d);
              }
            }
          }
        }

        .multi-logo {
          @include flex-container(flex, row, nowrap, unset, flex-start, 15px);

          width: 100%;

          @media (max-width: 480px) {
            justify-content: center;
          }
          @media (max-width: 449px) {
            flex-direction: column;
            align-items: center;
          }
        }
      }

      .footer__row-box {
        @include flex-container(flex, column, nowrap, unset, flex-start, 50px);

        width: 100%;

        div {
          @include flex-container(flex, column, nowrap, unset, flex-start, 0);
        }

        @media (max-width: 480px) {
          flex-direction: row;
        }
      }
    }
  }

  /* Футер низ */
  .footer__bottom {
    background: var(--Content-color, #14142d);
    @include flex-container(flex, row, nowrap, unset, center, 0);

    @media (max-width: 480px) {
      padding: 15px;
    }

    .container {
      @include flex-container(flex, row, nowrap, space-between, center, 0);
      padding: 15px 70px;

      @media (max-width: 480px) {
        flex-direction: column;
      }

      .left {
        @include flex-container(flex, row, nowrap, space-between, center, 45px);

        @media (max-width: 480px) {
          flex-direction: column;
        }
      }

      .copyright {
        @include responsive-typography(
          vars.$h6,
          vars.$h6-tablet,
          vars.$h6-mobile
        );
      }
    }

    &,
    a {
      color: rgba(var(--White-rgb), 0.65);
    }

    a:hover {
      color: var(--White, #fff);
    }
  }
}
