<header class="header">
  <div class="container container-header">
    <!-- ЛОГО -->
    <div class="logo-header">
      {% include "components/logo-header.njk" %}
      <div class="logo-box">
        <span class="logo-span-main">REALTOR</span>
        <span class="logo-span-sub">Estate Agency</span>
      </div>
    </div>

    <!-- НАВИГАЦИЯ -->
    {% include "layouts/_header/nav/nav.njk" %}

     <!-- ПРАВАЯ ЧАСТЬ -->
    <div class="right-actions">
      <!-- Поиск -->
      {% include "layouts/_header/search/search.njk" %}
      <!-- Выбор языка -->
      {% include "layouts/_header/lang/lang.njk" %}
      <!-- Добавить элемент -->
      {% include "layouts/_header/addItem/addItem.njk" %}
      <!-- Меню -->
      {% include "layouts/_header/menu/menu.njk" %}
    </div>
  </div>
</header> 