@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Стили для хедера
   ========================== */

.header {
  background: var(--White, #fff);
  user-select: none;

  .search-id > svg,
  .language,
  .menu-icon {
    cursor: pointer;
  }

  .container-header {
    @include grid-container(grid, auto 1fr auto, auto, 0, start, center);
    padding: 15px var(--padding-horiz) 30px var(--padding-horiz);

    @media (min-width: 481px) and (max-width: 1024px) {
      @include grid-container(
        grid,
        repeat(2, 1fr),
        repeat(2, auto),
        var(--gap),
        start,
        start
      );

      padding: 15px var(--padding-horiz-tablet) 30px var(--padding-horiz-tablet);
    }

    @media (max-width: 480px) {
      @include grid-container(grid, repeat(2, 1fr), auto, 0, start, center);

      padding: 15px var(--padding-horiz-mobile) 30px var(--padding-horiz-mobile);
    }

    /* Лого */
    .logo-header {
      @include flex-container(flex, row, nowrap, flex-start, center, 25px);

      svg {
        width: 117px;
        height: 90px;

        path {
          fill: var(--Main-color, #593dff);
        }
      }

      .logo-box {
        display: flex;
        flex-direction: column;

        .logo-span-main {
          color: var(--Main-color, #593dff);
          font-family: Buenard, serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 0.64px;
        }

        .logo-span-sub {
          color: var(--Content-color, #14142d);
          font-family: Alexandria;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.08px;
          text-transform: capitalize;
        }
      }

      @media (min-width: 481px) and (max-width: 1024px) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        @include flex-container(flex, row, nowrap, flex-start, center, 20px);

        svg {
          width: 91px;
          height: 71px;
        }

        .logo-box {
          .logo-span-main {
            font-size: 28px;
            letter-spacing: 0.56px;
          }

          .logo-span-sub {
            font-size: 16px;
            letter-spacing: 0.96px;
          }
        }
      }

      @media (max-width: 480px) {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        width: 64px;

        svg {
          width: 63px;
          height: 49px;
        }

        .logo-box {
          display: flex;
          flex-direction: column;

          .logo-span-main {
            font-size: 13px;
            letter-spacing: 0.26px;
          }

          .logo-span-sub {
            font-size: 8px;
            letter-spacing: 0.48px;
            text-transform: capitalize;
          }
        }
      }
    }

    /* Навигация */
    .nav {
      @include flex-center(row, center, center);

      @media (min-width: 481px) and (max-width: 1024px) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        @include flex-center(row, flex-start, center, var(--gap));
        padding-left: 110px;
      }

      @media (max-width: 480px) {
        display: none; /* Навигация скрыта */
      }

      .ul {
        @include flex-container(flex, row, nowrap, center, center, 45px);

        @media (min-width: 481px) and (max-width: 1024px) {
          @include flex-container(
            flex,
            row,
            nowrap,
            center,
            center,
            var(--gap)
          );
          list-style: none;
        }

        .nav-list {
          position: relative;
        }

        .nav-link {
          @include responsive-typography(
            vars.$h5,
            vars.$h4-tablet,
            vars.$h4-mobile
          );
          color: var(--Content-color, #14142d);

          &.active,
          &:hover {
            color: var(--Main-color); /* Цвет активной ссылки */
            transition: color 0.3s ease; /* плавная анимация */
          }

          /* Создаем подчеркивание с помощью ::after */
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0; /* внизу ссылки */
            width: 0; /* изначально ширина 0 */
            height: 5px; /* толщина линии */
            background-color: var(
              --Main-color,
              #593dff
            ); /* цвет подчеркивания */
            border-radius: 3px; /* скругление концов */
            transition: width 0.3s ease; /* плавная анимация */

            @media (min-width: 481px) and (max-width: 1024px) {
              bottom: -5px;
            }
          }

          &.active::after {
            width: 24px;
          }

          /* При наведении увеличиваем ширину до 100% */
          &:hover::after,
          &.active:hover::after {
            width: 100%;
          }
        }
      }
    }

    /* Правая часть */
    .right-actions {
      @include flex-container(flex, row, nowrap, flex-end, center, 25px);

      @media (min-width: 481px) and (max-width: 1024px) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        @include flex-container(flex, row, nowrap, space-between, center, 0);

        .btn {
          padding: 9px 37px 9px 36px;
        }
      }

      @media (max-width: 480px) {
        grid-column: 3 / 3;
        @include flex-container(flex, row, wrap, flex-end, center, 15px);

        flex-wrap: wrap;

        .btn {
          order: 3;
        }
      }

      /* Идентификатор поиска */
      .search-id {
        position: relative;
        display: inline-flex;
        padding-right: 10px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        @include responsive-typography(
          vars.$h5,
          vars.$h4-tablet,
          vars.$h4-mobile
        );

        .search-visually-hidden {
          opacity: 0.4;
          transition: opacity 0.2s ease;

          &.hidden {
            opacity: 0;
            pointer-events: none;
          }
        }

        .search-input {
          position: absolute;
          right: 0;
          width: 140px;
          height: 38px;
          padding: 0 30px 0 10px;
          border: none;
          border-radius: var(--border-radius);
          background: var(--White, #fff);
          box-shadow: 0 4px 45px 0 rgba(var(--Main-color-rgb), 0.25);

          @include responsive-typography(
            vars.$h6,
            vars.$h4-tablet,
            vars.$h4-mobile
          );

          color: var(--Main-color, #593dff);
          box-sizing: border-box;
          transform-origin: right;
          transition: transform 0.4s ease-out, opacity 0.3s ease-out; // Увеличим время и сделаем затухание
          opacity: 0; // Изначально прозрачен
          pointer-events: none; // Блокируем ввод до активации
          transform: scaleX(
            0.16
          ); // Начальная ширина ~24px (150px * 0.16 ≈ 24px)

          .search-icon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            z-index: 1;
          }

          &.active {
            transform: scaleX(1); // Расширяется до полной ширины
            opacity: 1; // Появляется
            pointer-events: auto; // Включаем ввод
          }

          &.closing {
            transform: scaleX(0.16); // Возвращается к ширине иконки
            opacity: 0;
            pointer-events: none;
          }

          &:focus {
            outline: none;
          }
        }

        svg {
          width: 24px;
          height: 24px;

          z-index: 9;

          path {
            stroke: var(--Main-color, #593dff);
          }
        }
      }

      /* Языковой переключатель */
      .lang-select {
        position: relative;
        display: inline-block;

        .lang-selected-value,
        .lang-options {
          @include responsive-typography(
            vars.$h5,
            vars.$h4-tablet,
            vars.$h4-mobile
          );
        }

        .lang-select-header {
          @include flex-center(row, center, center);

          width: 64px;
          gap: 6px;
          background: var(--White, #fff);
          border: none;
          cursor: pointer;
          position: relative;
          z-index: 101; // Делаем заголовок выше, чем options
          outline: none;

          &[aria-expanded="true"] {
            border-radius: 15px;
          }

          &:not([aria-expanded="true"]):hover {
            color: var(--Main-color, #593dff);

            svg {
              path {
                fill: var(--Main-color, #593dff);
              }
            }
          }
        }

        .lang-options {
          @include flex-center(row, center, center);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          padding: 0 5px 14px 5px;
          margin: 0;
          border-radius: 15px;
          background: var(--White, #fff);
          box-shadow: 0 4px 45px 0 rgba(var(--Main-color-rgb), 0.25);
          display: none;
          z-index: 100;

          overflow-y: visible;
          width: 100%;

          &[style*="display: block"] {
            display: block;
          }

          li {
            display: flex;
            cursor: pointer;
            padding: 0 19px 0 5px;

            &:not(.lang-current-value):hover,
            &.selected {
              color: var(--Main-color, #593dff);
              border-radius: 15px;
            }

            &.selected {
              background-color: rgba(var(--Main-color-rgb), 0.05);
            }
          }
        }
      }

      /* Бургер-меню */
      .menu-icon {
        position: relative;

        .menu-toggle {
          padding: 10px 7px;
          width: 46px;
          height: 46px;

          .menu-line {
            transition: all 0.3s ease;

            &.menu-line-top {
              fill: var(--Main-color, #593dff);
            }

            &.menu-line-middle,
            &.menu-line-bottom {
              fill: var(--Content-color, #14142d);
            }
          }

          &:hover {
            .menu-line-top {
              transform-origin: right;
              transform: scaleX(1.3); // растягиваем верхнюю линию при наведении
            }
          }

          &.active {
            .menu-line-top {
              opacity: 0; // Верхняя линия исчезает
            }

            .menu-line-middle {
              transform: rotate(45deg) translate(3px, -14px); // Крестик — верхняя часть
            }

            .menu-line-bottom {
              transform: rotate(-45deg) translate(-15px, -5px); // Крестик — нижняя часть
            }

            &:hover {
              .menu-line {
                fill: var(--Main-color, #593dff);
              }
            }
          }
        }
      }

      .btn-primary {
        @include responsive-typography(
          vars.$h5,
          vars.$h4-tablet,
          vars.$h4-mobile
        );
      }
    }
  }
}

/* ==========================
   Конец хедера
   ========================== */
