<div class="contact-fab-container">
    <div class="contact-fab-btn">
         {% include "components/icon/phone-btn-svg.njk" %}
         {% include "components/icon/close-svg.njk" %}
    </div>
</div>
