{% macro propertyCard(property) %}
  <a href="" class="property-card {{ property.className }}">
    <div class="property-card__image-container">
      {# Основа под сплайд #}
      {# {% if property.images and property.images.length %}
        {% for image in property.images %}
          <img src="{{ image }}" alt="{{ property.locationCity }}" 
          class="property-card__image">
        {% endfor %}
      {% endif %} #}
      <img src="{{ property.image }}" alt="{{ property.locationCity }}" 
      class="property-card__image">
      {# Стикеры: поддержка нескольких (циклом) + обратная совместимость #}
      {% set propertyStickers = property.stickers or property.marks %}
      {% if propertyStickers and (propertyStickers is not string) and propertyStickers.length %}
        <div class="property-card__marks">
          {% for sticker in propertyStickers %}
            {% set stickerLabel = sticker.mark or sticker.label or sticker.name or sticker %}
            {% set stickerSvg = sticker.markSVG or sticker.svg or sticker.icon %}
            <span class="property-card__{{ stickerLabel }} property-card__mark">
              {% if stickerSvg %}
                {% include stickerSvg %}
              {% endif %}
              <span>
                {{ stickerLabel }}
              </span>
            </span>
          {% endfor %}
        </div>
      {% elseif property.markSVG %}
        <div class="property-card__marks">
          <span class="property-card__{{ property.mark }} property-card__mark">
            {% include property.markSVG %}
            <span>
              {{ property.mark }}
            </span>
          </span>
        </div>
      {% endif %}
      {% if property.markSVGp %}
          <span class="property-card__{{ property.markp }}">
            {% include property.markSVGp %}
          </span>
      {% endif %}
    </div>
    <div class="property-card__content">
      <div class="property-card__description">
        <div class="description__comission">
            <span class="description__comission-value">
              {{ property.comission }}
            </span> 
        </div>
        <div class="description__top">
          <div class="description__top-left">
            <span class="description__top-value-price">
              $ {{ property.topValuePrice }}
              </span>
            <span class="description__top-price-info">
              {{ property.topPriceInfo }}
              </span>
          </div>
          <span class="description__top-value-id">
            id {{ property.topValueId }}
            </span>
        </div>
        <p class="description__info">{{ property.description }}</p>
        <div class="description__location">
          <span class="description__location-city">
            {% include "components/icon/location-pointer-svg.njk" %}
            {{ property.locationCity }}
          </span>
          <span class="description__date">
            {% include "components/icon/clock-svg.njk" %}
            {{ property.date }}
          </span>
        </div>
      </div>
      <div class="property-card__description-line">

      </div>
      {% if property.detailsBlocks and property.detailsBlocks.length %}
        <div class="property-card__details">
          {% for detail in property.detailsBlocks %}
            <div class="details__block">
              {% include detail.detailsSVG %}
              <span class="details__value">{{ detail.detailsValue }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </a>
{% endmacro %}