@use "../../../../assets/scss/variables" as vars;
@use "../../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Карта товара
   ========================== */

.property-card {
  width: 415px;
  height: 510px;

  border-radius: var(--border-radius);

  background: var(--White, #fff);
  box-shadow: 0 10px 80px 0 rgba(var(--Main-color-rgb), 0.25);

  @include responsive-typography(vars.$h6, vars.$h6-tablet, vars.$h6-mobile);

  @media (min-width: 481px) and (max-width: 1024px) {
    width: 375px;
    height: 461px;
  }
  /* Блок "срочно" */
  &.urgently {
    box-shadow: 0 10px 80px 0 rgba(var(--Attracting-attention-color-rgb), 0.25);

    .description__top-value-price {
      color: var(--Attracting-attention-color, #e722aa);
    }
  }

  /* Блок изображения */
  .property-card__image-container {
    display: flex;
    position: relative;

    height: 245px;

    @media (min-width: 481px) and (max-width: 1024px) {
      height: 222px;
    }

    img {
      width: 100%;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .property-card__mark {
      position: absolute;

      @include responsive-typography(
        vars.$h6,
        vars.$h4-tablet,
        vars.$h6-mobile
      );

      display: flex;
      padding: 9px 16px;
      justify-content: center;
      align-items: center;
      gap: 5px;

      z-index: 10;

      border-radius: var(--border-radius);
      background: var(--Main-color, #593dff);
      color: var(--White, #fff);

      &.property-card__Exclusive,
      &.property-card__Urgently {
        bottom: -24px;
        right: 20px;
      }

      &.property-card__Urgently {
        background: var(--Attracting-attention-color, #e722aa);
      }

      &.property-card__New {
        border-radius: 3px 15px 15px 3px;
        box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.15);
        top: 16px;
        left: -13px;

        svg {
          position: absolute;
          left: 0;
          bottom: -7px;
        }
      }

      &.property-card__none {
        border-radius: 3px 15px 15px 3px;
        box-shadow: 0 4px 20px 0 rgba(255, 255, 255, 0.15);
        top: 16px;
        left: -13px;

        svg {
          position: absolute;
          left: 0;
          bottom: -7px;
        }
      }
    }

    .property-card__center {
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .property-card__top {
      svg {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  /* Блок контента */
  .property-card__content {
    @include flex-container(flex, column, nowrap, unset, center, 22px);
    padding: var(--padding-vert) 20px 35px 20px;

    .property-card__description {
      @include flex-container(flex, column, nowrap, unset, flex-start, 10px);
      width: 100%;

      .description__top {
        @include flex-container(flex, row, nowrap, space-between, center, 0);
        width: 100%;

        .description__top-left {
          @include flex-container(flex, row, nowrap, unset, center, 15px);

          .description__top-value-price {
            color: var(--Main-color, #593dff);

            @include responsive-typography(
              vars.$h3,
              vars.$h3-tablet,
              vars.$h2-mobile
            );
          }

          .description__top-price-info {
            color: rgba(var(--Content-color-rgb), 0.6);
            @include responsive-typography(
              vars.$h6,
              vars.$h5-tablet,
              vars.$h6-mobile
            );
          }
        }

        .description__top-value-id {
          user-select: text;

          color: rgba(var(--Main-color-rgb), 0.6);
          @include responsive-typography(
            vars.$h6,
            vars.$h5-tablet,
            vars.$h6-mobile
          );
        }
      }

      .description__info {
        @include responsive-typography(
          vars.$h3,
          vars.$h3-tablet,
          vars.$h5-mobile
        );

        color: var(--Content-color, #14142d);
      }

      .description__location {
        color: var(--Content-color, #14142d);

        @include responsive-typography(
          vars.$h6,
          vars.$h4-tablet,
          vars.$h5-mobile
        );

        .description__location-city {
          @include flex-container(flex, row, nowrap, center, center, 10px);
        }
      }
    }

    /* Промежуточная линия */
    .property-card__description-line {
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background: var(--Main-color, #593dff);
      opacity: 0.2;
    }

    .property-card__details {
      @include flex-container(flex, row, nowrap, flex-start, center, 25px);
      width: 100%;

      .details__block {
        @include flex-center(row, center, center);
        @include responsive-typography(
          vars.$h6,
          vars.$h4-tablet,
          vars.$h6-mobile
        );
        gap: 10px;

        color: rgba(var(--Main-color-rgb), 0.6);
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease; /* плавная анимация */
  }
}
/* ==========================
   Конец карты товара
   ========================== */
