<div class="search-form-container">
  <form class="search-form">
    {# Вкладки для выбора типа операции: продажа или аренда #}
    <div class="form-tabs">
      {# Вкладка для продажи #}
      <button type="button" class="tab active" data-tab="selling">Selling</button>

      {# Вкладка для аренды #}
      <button type="button" class="tab" data-tab="rent">Rent</button>
    </div>

    {# Форма поиска #}
    <div class="form-fields">
      <div class="form-dropdowns-container">
        {# Выпадающий список для выбора типа недвижимости #}
        <div class="form-dropdown" data-step="1">
          <label class="dropdown-label" for="property-type-btn">Property Type</label>
          <button class="dropdown-search-form-btn" id="property-type-btn" 
          aria-haspopup="listbox" aria-expanded="false">
            <span class="selected-value">Select</span>
            {% include "components/icon/small-arrow-svg.njk" %}
          </button>
        </div>

        {# Выпадающий список для выбора региона #}
        <div class="form-dropdown" data-step="2">
          <label class="dropdown-label" for="region-btn">Region</label>
          <button class="dropdown-search-form-btn" id="region-btn" 
          aria-haspopup="listbox" aria-expanded="false">
            <span class="selected-value">Select</span>
            {% include "components/icon/small-arrow-svg.njk" %}
          </button>
        </div>

        {# Выпадающий список для выбора города #}
        <div class="form-dropdown" data-step="3">
          <label class="dropdown-label" for="city-btn">City</label>
          <button class="dropdown-search-form-btn" id="city-btn" 
          aria-haspopup="listbox" aria-expanded="false">
            <span class="selected-value">Select</span>
            {% include "components/icon/small-arrow-svg.njk" %}
          </button>
        </div>

        {# Выпадающий список для выбора района #}
        <div class="form-dropdown" data-step="4">
          <label class="dropdown-label" for="area-btn">Area of the City</label>
          <button class="dropdown-search-form-btn" id="area-btn" 
          aria-haspopup="listbox" aria-expanded="false">
            <span class="selected-value">Select</span>
            {% include "components/icon/small-arrow-svg.njk" %}
          </button>
        </div>
      </div>

      <div class="filter-btn-container">
        {# Кнопка фильтрации #}
        <button type="button" class="btn filter-btn">
          {% include "components/icon/filtr-svg.njk" %}
        </button>

        {# Кнопка поиска #}
        <button type="button" class="btn btn-primary form-find-btn">
          {% include "components/icon/search-svg.njk" %}
          <span class="find-text">Find</span>
        </button>
      </div>
    </div>

    <!-- Контейнер для всех выпадающих списков -->
    <div class="dropdowns-portal"></div>
  </form>
</div>