@use "../../../assets/scss/variables" as vars;
@use "../../../assets/scss/mixins" as *;
@use "sass:map";

/* ==========================
   Форма поиска
   ========================== */
.search-form-container {
  width: 94.5%;
  //   padding-bottom: 96px;

  @media (max-width: 1024px) {
    width: 100%;
  }
  .search-form {
    @include flex-container(flex, column, nowrap, center, flex-start, 0);
    position: relative;
    /* Вкладки для выбора типа */
    .form-tabs {
      display: flex;
      align-items: center;

      @media (max-width: 480px) {
        width: 100%;
      }

      .tab {
        display: flex;
        height: 65px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        min-width: 200px;
        z-index: 1;

        border-radius: var(--border-radius, 35px) var(--border-radius, 35px) 0 0;
        border: none;
        background: var(--White, #fff);
        color: var(--Main-color, #593dff);

        @include responsive-typography(
          vars.$h5,
          vars.$h4-tablet,
          vars.$h4-mobile
        );

        cursor: pointer;

        box-shadow: 4px -4px 30px 0 rgba(var(--Main-color-rgb), 0.1);

        @media (min-width: 481px) and (max-width: 1024px) {
          min-width: 180px;
          height: 55px;
        }

        @media (max-width: 480px) {
          min-width: 138px;
          width: 100%;

          height: 55px;
        }

        &.active {
          background: var(--Main-color, #593dff);
          color: var(--White, #fff);
        }
      }
    }

    /* Форма поиска */
    .form-fields {
      @include flex-container(flex, row, nowrap, flex-start, center, 1px);
      width: 100%;
      padding: 22px 30px 26px 0;

      border-radius: 0 var(--border-radius, 35px) var(--border-radius, 35px)
        var(--border-radius, 35px);
      background: rgba(var(--White-rgb), 0.55);
      box-shadow: -25px -25px 88px 0 rgba(var(--Main-color-rgb), 0.1);
      backdrop-filter: blur(19.399999618530273px);

      @media (max-width: 480px) {
        flex-direction: column;
        gap: 24px;
        padding: 20px 20px 24px 15px;

        border-radius: 0 0 var(--border-radius, 35px) var(--border-radius, 35px);
      }

      /* Меню выбора */
      .form-dropdowns-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        @media (max-width: 480px) {
          flex-direction: column;
          gap: 12px;
        }

        /* Выпадающие списки */
        .form-dropdown {
          @include flex-container(
            flex,
            column,
            nowrap,
            space-between,
            flex-start,
            0
          );

          position: relative;
          width: 100%;

          padding-left: 30px;

          @media (min-width: 481px) and (max-width: 1024px) {
            padding-left: 20px;
            max-width: 193px;
          }
          @media (max-width: 480px) {
            padding-left: 0px;
            gap: 8px;

            max-width: unset;
          }

          /* Боковая полоска */
          &:not(:last-child)::after {
            position: absolute;
            content: "";
            width: 3px;
            height: 100%;
            border-radius: 2px;
            background: var(--Main-color, #593dff);
            opacity: 0.2;
            top: 0;
            right: 0;

            @media (max-width: 480px) {
              display: none;
            }
          }

          &.disabled {
            pointer-events: none; // Отключаем взаимодействие
          }

          .dropdown-search-form-btn {
            display: flex;
            align-items: center;
            width: 100%;
            cursor: pointer;
            background-color: transparent;
            position: relative;
            z-index: 1;
            outline: none;
            border: none;
            gap: 5px;

            @media (min-width: 481px) and (max-width: 1024px) {
              max-width: 153px;
            }

            &[aria-expanded="true"] {
              opacity: 0;
            }

            .small-arrow-svg {
              width: 11px;
              height: 5px;
            }

            &:hover {
              span {
                color: var(--Content-color, #14142d);
              }

              .small-arrow-svg {
                path {
                  fill: var(--Content-color, #14142d);
                }
              }
            }

            .selected-value {
              color: rgba(var(--Content-color-rgb), 0.65);

              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100%;
            }
          }
        }
      }

      .filter-btn-container {
        display: flex;
        align-items: center;
        gap: 25px;

        @media (max-width: 480px) {
          justify-content: flex-end;

          width: 100%;
        }

        /* Кнопка фильтрации */
        .filter-btn {
          display: flex;
          justify-content: center;
          align-items: center;

          padding: 18px;

          border-radius: 35px;
          background: rgba(var(--White-rgb), 0.55);

          svg {
            width: 24px;
            height: 24px;
          }

          &:hover {
            background: rgba(var(--Main-color-rgb), 0.55);
          }

          @media (max-width: 1024px) {
            padding: 11px;
            gap: 15px;
          }
        }

        /* Кнопка поиска */
        .form-find-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 12px 30px;
          gap: 10px;

          @include responsive-typography(
            vars.$h5,
            vars.$h4-tablet,
            vars.$h4-mobile
          );

          @media (min-width: 481px) and (max-width: 1024px) {
            padding: 11px;

            .find-text {
              display: none;
            }
          }
          @media (max-width: 480px) {
            padding: 9px 25px;

            .find-text {
              display: block;
            }
          }
        }
      }
    }

    .dropdown-label {
      align-self: stretch;
      color: var(--Main-color, #593dff);

      @include responsive-typography(
        vars.$h6,
        vars.$h5-tablet,
        vars.$h6-mobile
      );

      z-index: 11;
    }

    .selected-value,
    .current-value {
      @include responsive-typography(
        vars.$h4,
        vars.$h4-tablet,
        vars.$h4-mobile
      );
    }

    .dropdown-search-form-options {
      position: absolute;
      z-index: 100;
      display: none;
      flex-direction: column;
      gap: 25px;
      padding: 0 20px 20px 20px;
      border-radius: var(--border-radius, 35px);
      background: rgba(var(--White-rgb), 0.75);
      box-shadow: 0 18px 19.4px 0 rgba(89, 61, 255, 0.25);
      backdrop-filter: blur(19.4px);
      color: rgba(var(--Content-color-rgb), 0.65);
      @include responsive-typography(
        vars.$h5,
        vars.$h4-tablet,
        vars.$h4-mobile
      );

      &.open {
        display: flex;

        @media (min-width: 481px) and (max-width: 1024px) {
          gap: 15px;
        }
      }

      .dropdown-li-container {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media (min-width: 481px) and (max-width: 1024px) {
          &.grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;
          }
        }
      }

      li {
        cursor: pointer;
        padding: 8px 10px 2px 10px;
        min-width: fit-content;

        &.current-value {
          color: var(--Content-color, #14142d);
          padding: 5px 10px 2px 10px;
          cursor: default;
        }

        &:not(.current-value):hover,
        &.selected {
          color: var(--Main-color, #593dff);
          background: rgba(89, 61, 255, 0.15);
          border-radius: 15px;
        }
      }
    }
  }
}
/* ==========================
     Конец формы поиска
   ========================== */
