
{% extends "layouts/_base.njk" %}
{% set title = "example" %}
{% set activePage = "/about" %}  {# Устанавливаем активную страницу #}
{% import "components/_property-card/property-card.njk" as card %}
{% set additional_styles = [
  "../assets/scss/property-card.css"
] %}  {# Устанавливаем список дополнительных стилей для этой страницы #}

