{# Создаем страницу Home #}
{% extends "layouts/_base.njk" %}
{% set title = "Home" %}
{% set activePage = "/home" %}


{% import "layouts/top-cards/top-cards.njk" as tabs %}
{% import "layouts/reviews.njk" as reviews %}
{% import "layouts/Home/partners.njk" as partners %}
{% import "layouts/Home/why-choose-us.njk" as chooseUs %}
{% import "layouts/Home/valued-customers.njk" as customers %}
{% import "layouts/Home/blog.njk" as blogs %}


{% block content %}
  <!-- Первый экран -->
  {% include "layouts/Home/first-screen.njk" %}

  <!-- Ключевые особенности -->
  {% include "layouts/Home/key-features.njk" %}

  <!-- Топ продаж -->
  {% set sellingBlock = {
    sectionClass: "top-selling",
    text: "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable",
    propertyTab: {
      topName: "Selling",
      link: "#",
      buttons: [
        { btnClassName: "top-cards-btn btn-tabs active", btnName: "Flats" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Mansions" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Offices" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Commercial Real Estate" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Garages" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Land" }
      ]
    },
    propertyCards: [
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        mark: "Exclusive",
        markSVG: "components/icon/two-stars-svg.njk", 
        topValuePrice: "88 000",
        topPriceInfo: "for all",
        topValueId: "23201",
        description: "3-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "4/4" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "3" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "56 m²" }
        ]
      },
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        topValuePrice: "61 500",
        topPriceInfo: "for all",
        topValueId: "23690",
        description: "1-room flat, district Ivasyuka",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "8/10" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "42 m²" }
        ]
      },
      {
      className: "urgently",
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        mark: "Urgently",
        markSVG: "components/icon/hot-svg.njk", 
        topValuePrice: "82 200",
        topPriceInfo: "for all",
        topValueId: "23483",
        description: "1-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "3/11" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "48 m²" }
        ]
      },
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        mark: "New",
        markSVG: "components/icon/vector-new-svg.njk", 
        topValuePrice: "118 000",
        topPriceInfo: "for all",
        topValueId: "23578",
        description: "2-room flat, district Bam",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "5/10" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "2" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "69 m²" }
        ]
      }
    ]
  } %}
  {{ tabs.renderBlock(sellingBlock) }}
 
  <!-- Топ аренды -->
  {% set rentalsBlock = {
    sectionClass: "top-rentals",
    text: "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable",
    propertyTab: {
      topName: "Rentals",
      link: "#",
      buttons: [
        { btnClassName: "top-cards-btn btn-tabs active", btnName: "Flats" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Mansions" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Offices" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Commercial Real Estate" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Garages" },
        { btnClassName: "top-cards-btn btn-tabs", btnName: "Land" }
      ]
    },
    propertyCards: [
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        markp: "center", 
        markSVGp: "components/icon/sold-svg.njk", 
        topValuePrice: "900",
        topPriceInfo: "per month",
        topValueId: "23201",
        description: "2-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "3/4" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "2" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "66 m²" }
        ]
      },
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        markp: "center", 
        markSVGp: "components/icon/leased-svg.njk", 
        topValuePrice: "700", 
        topPriceInfo: "per month",
        topValueId: "23202",
        description: "3-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "1/4" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "3" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "2" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "79 m²" }
        ]
      },
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        markp: "top", 
        markSVGp: "components/icon/on-deposit-svg.njk", 
        topValuePrice: "1500",
        topPriceInfo: "per month",
        topValueId: "23203",
        description: "1-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "2/6" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "36 m²" }
        ]
      },
      {
        images: [
          "/assets/images/property-card/property1.jpg",
          "/assets/images/property-card/property2.jpg",
          "/assets/images/property-card/property3.jpg"
        ],
        image: "/assets/images/property-card/property2.jpg",
        markp: "top", 
        markSVGp: "components/icon/withdraw-svg.njk", 
        topValuePrice: "2 000",
        topPriceInfo: "per month",
        topValueId: "23201",
        description: "1-room flat, district Center",
        locationCity: "Ivano-Frankivsk",
        detailsBlocks: [
          { detailsSVG: "components/icon/floor-svg.njk", 
            detailsValue: "8/10" },
          { detailsSVG: "components/icon/opened-door-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/bed-svg.njk", 
            detailsValue: "1" },
          { detailsSVG: "components/icon/area-floor-size-svg.njk", 
            detailsValue: "42 m²" }
        ]
      }
    ]
  } %}
  {{ tabs.renderBlock(rentalsBlock) }}

  <!-- Блок рекламы -->
  {% include "layouts/ads.njk" %}

  <!-- Отзывы -->
  {% set reviewsBlock = {
    totalVotes: "40",
    propertyCards: [
      {
        image: "/assets/images/avatars/avatar1.png",
        name: "Alina",
        comment: "I sincerely thank your agency, especially Marina Kujawski for 
        the promptness in finding housing for our needs. We, immigrants from Kherson,
        the promptness in finding housing for our needs. We, immigrants from Kherson,
        have been looking for affordable housing in the place for almost a month...",
        date: "May 27, 2022",
        stars: "5"
      },
      {
        image: "/assets/images/avatars/avatar2.png",
        name: "Vitaly Petrovich",
        comment: "The best company in Ivano-Frankivsk, but there is room for improvement.",
        date: "October 5, 2023",
        stars: "4"
      },
      {
        image: "/assets/images/avatars/avatar3.png",
        name: "Roman Oliynyk",
        comment: "Thank you very much for your help in finding an apartment! 
        I really liked the approach to the client and the precise work. 
        I have recommended the agency's services to more than one friend",
        date: "May 27, 2022",
        stars: "5"
      }
    ]
  } %}
  {{ reviews.renderBlockReview(reviewsBlock) }}

  <!-- Партнеры -->
  {% set propertyImg = {
        logo: [
        {
          image: "/assets/images/partners/misto.png",
          imageName: "Наше Мисто"
        },
        {
          image: "/assets/images/partners/doom2000.png",
          imageName: "Doom2000"
        },
        {
          image: "/assets/images/partners/source_image.png",
          imageName: "ibud"
        },
        {
          image: "/assets/images/partners/vox.png",
          imageName: "vox"
        }
        ],
        images: [
        {
          image: "/assets/images/partners/luxury.png",
          imageName: "Luxury Real Estate",
          imageClass: "luxury",
          text: "Luxury Real Estate"
        },
        {
          image: "/assets/images/partners/carphathians.png",
          imageName: "Real Estate in the Carpathians",
          imageClass: "carpathians",
          text: "Real Estate in the Carpathians"
        },
        {
          image: "/assets/images/partners/exlusives.png",
          imageName: "Exclusives",
          imageClass: "exclusives",
          markSVG: "components/icon/two-stars-svg.njk",
          text: "Exclusives"
        },
        {
          image: "/assets/images/partners/investment.png",
          imageName: "Investment Projects",
          imageClass: "investment",
          text: "Investment Projects"
        }
        ]
  } %}
  {{ partners.partners(propertyImg) }}

  <!-- Почему выбирают нас? -->
  {% set propertyChooseUs = {
        arrow: "components/icon/arrow-block-svg.njk",
        paragrafs: [
        {
          markSVG: "components/icon/maximum-transaction-security-svg.njk",
          markText: "Maximum transaction security",
          paragraf: "We guarantee the legal purity of each transaction. We 
          check documents, accompany the client at all stages and protect 
          against risks"
        },
        {
          markSVG: "components/icon/home-site-svg.njk",
          markText: "Large database of verified objects",
          paragraf: "Access to exclusive market offers!<br/>We know where to find the perfect apartment or house for your requirements."
        },
        {
          markSVG: "components/icon/saving-your-time-svg.njk",
          markText: "Saving your time",
          paragraf: "We take care of all the hassle: selection, viewings, 
          negotiations, and closing the deal. All you have to do is take the 
          keys to your ideal home!"
        }
        ]
  } %}
  {{ chooseUs.chooseUs(propertyChooseUs) }}

  <!-- Достижения -->
  {% include "layouts/Home/company-achivements.njk" %}

  <!-- Агенция -->
  {% include "layouts/agency.njk" %}

  <!-- Наши уважаемые клиенты -->
  {% set propertyImgCustomers = {
        logo: [
        {
          image: "/assets/images/clients/Raiff.png",
          imageName: "Raiffeisen Bank"
        },
        {
          image: "/assets/images/clients/Privat.png",
          imageName: "PrivatBank"
        },
        {
          image: "/assets/images/clients/ukrpost.png",
          imageName: "UkrPoshta"
        },
        {
          image: "/assets/images/clients/Podoroj.png",
          imageName: "Podorojnik"
        }
        ]
  } %}
  {{ customers.customers(propertyImgCustomers) }}

  <!-- Блоги -->
  {% set blogsBlock = {
    propertyCards: [
      {
        image: "/assets/images/blog/art-1.png",
        alt: "Alina",
        category: "Category",
        theme: "Real Estate Investments: How to Invest Money Profitably",
        comment: "We tell you how and in what real estate to invest and what 
        is needed for this...",
        date: "May 06, 2025",
        url: "#"
      },
      {
        image: "/assets/images/blog/art-2.png",
        alt: "Alina",
        category: "Category",
        theme: "Where to live in Ukraine cheap: Real estate rating rating",
        comment: "We tell you how and in what real estate to invest and what 
        is needed for this...",
        date: "May 05, 2025",
        url: "#"
      },
      {
        image: "/assets/images/blog/art-3.png",
        alt: "Alina",
        category: "Category",
        theme: "In Ukraine, housing prices will take off",
        comment: "How and why real estate will rise in price - the expert explains. 
        Real estate prices go up again...",
        date: "May 04, 2025",
        url: "#"
      },
      {
        image: "/assets/images/blog/art-4.png",
        alt: "Alina",
        category: "Category",
        theme: "Real estate prices in the Carpathians are growing",
        comment: "Thanks to this interest in the two years of the war, 
        the recreational real estate market...",
        date: "May 03, 2025",
        url: "#"
      }
    ]
  } %}
  {{ blogs.renderBlockBlog(blogsBlock) }}

  <!-- Вопросы -->
  {% include "layouts/Home/questions.njk" %}

  <!-- Скрипты -->
  <script src="../assets/js/search-form.js"></script>
  <script src="../assets/js/review.js"></script>
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/slideUp.js"></script>
{% endblock %}