{# Создаем страницу Home #}
{% extends "layouts/_base.njk" %}
{% set title = "Home" %}
{% set activePage = "/home" %}  {# Устанавливаем активную страницу #}
{% set additional_styles = [
  "../assets/scss/property-card.css"
] %}  {# Устанавливаем список дополнительных стилей для этой страницы #}

{# Подключаем компонент  #}
{% block content %}
  <!--  Первый экран -->
  {% include "layouts/Home/first-screen.njk" %}
  <!--  Ключевые особенности -->
  {% include "layouts/Home/key-features.njk" %}
  <script src="../assets/js/search-form.js"></script>
{% endblock %}