---
layout: layouts/default.njk
---

<p>Welcome to your new project!!</p>

<h2>What should I do now?</h2>

<ul>
    <li>Look at the meta tags in src/_includes/layouts/default.njk. Some of them need updating.</li>
    <li>Update the styles in site.css</li>
    <li>Visit the <a href="https://www.11ty.dev/">11ty docs</a> to learn about all of the cool things you can do with 11ty.</li>
    <li>Lookup <a href="https://mozilla.github.io/nunjucks/">nunjucks syntax</a> because it really is the best templating language.</li>
    <li>Show your appreciation by leaving a start on GitHub</li>
</ul>
